<% content_for :title, truncate(@note.content, :length => 50) %>
<% content_for :keywords,"话术,惯例库,追女孩子的技巧,追女孩子的短信,追女孩子的话,追女孩子的方法,追女生,追女生技巧" %>
<% content_for :description, @note.content %>

<% unless is_member? %>
	<div id="header_guanggao">
		<a href="http://item.taobao.com/item.htm?id=17777247318"><img src="/assets/guanggao.png" alt="泡妞秘籍购买链接" /></a>
	</div>
<% end %>


<div class="box">
	<div id="content">
			<div class="entry_person_photo">
				<%= image_tag @note.person.avatar.url(:thumb) %>
			</div>
			<div class="entry_title">阶段:<%= link_to @note.category.name, category_notes_path(:path => @note.category.path) %></div>
			<br /><br />
			<div class="entry_meta">发布:<%= link_to @note.person.nick_name, @note.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= @note.created_at.to_date.to_s %>
			</div>

			<div class="entry_content"><%= simple_format @note.content %></div>
			<div class="entry_edit_bar">

		    <%= render :partial => "share/bdshare" %>
				
				<% if can_delete?(@note) %>
					<%= link_to '编辑', edit_note_path(@note) %>
					<%= link_to '删除', @note, :data => { :confirm => '确定删除' }, method: :delete %>
				<% end %>
			</div>
			<hr />
					
				
			<h2>所有评论</h2>
			<% if notice %>
				<div id="notice"><%= notice %></div>
			<% end %>
			<div id="comments">
				<% @comments.each do |comment| %>
					<%= render comment %>
				<% end %>

				<%= render :partial => "comments/form", :locals => { :comment => @comment, :commable_type => "Note", :commable_id => @note.id } %>
			</div>

	</div>

	<div id="sidebar">
		<%= link_to "返回", :back %>
	</div>
	
</div>

