<% content_for :title,"所有小组-泡妞学网" %>
<% content_for :keywords,"泡妞小组列表,所有小组" %>
<% content_for :description,"泡妞学网小组列表,每天推出一个小组." %>


<div id="new_article_bar">
	<% if notice %>
		<div id="notice"><%= notice %></div>
	<% end %>
	<% if is_admin? %> 			
		<%= link_to '创建组', new_classroom_path %>
	<% end %>
</div>

<div class="box articles_box">
	<h1>所有小组</h1>
	<div id="classrooms">		
		<% @classrooms.each do |classroom| %>
			<%= link_to image_tag(classroom.avatar.url(:medium), :class => "image_class"), classroom %>					
			
			<h2 class= "index_organization_title"><%= link_to classroom.name, classroom %></h2>
			<div class="index_organization_description"><%= truncate(classroom.description, :length => 55) %></div><br />
			创建时间:<%= classroom.created_at.to_date.to_s %>
			<span class="meta_space">创建者:<%= link_to classroom.person.nick_name, :root %></span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% if is_admin? %>
				<%= link_to '编辑', edit_classroom_path(classroom) %>
				<%= link_to '删除', classroom, :data => { :confirm => '确定删除?' }, method: :delete %>
			<% end %>
			<hr />
		<% end %>
	</div>
</div>


	


