<script type="text/javascript">
		$(function () {
        $('textarea.limited').maxlength({
            'feedback' : '.charsLeft', 'useInput' : true
        });
    });

		// $('#discussion_content').live('keydown', function(e) {
		//   if (e.keyCode === 13) {
		//     $('#discussion_submit').trigger('submit');
		// 		var d = new Date();
		// 		var s = d.getYear()+1900+"-"+(d.getMonth()+1)+"-"+(d.getDay()+9)+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
		// 		$("#discussions").prepend("<div class='discussion_meta'><a href='/people/"+$('#person_id').text()+"'>"+$('#person_nick_name').text()+"</a> ("+$('#person_city').text()+")&nbsp;&nbsp;&nbsp;&nbsp;"+ s+"</div><div class='discussion_content'><p>"+$("#discussion_content").attr("value") +"</p></div><br/>");
		// 		$("#discussion_content").attr({value: ''});
		//   }
		// });
		// 
		// $('#discussion_submit').live('click', function(e) {
		// 		var d = new Date();
		// 		var s = d.getYear()+1900+"-"+(d.getMonth()+1)+"-"+(d.getDay()+9)+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
		// 		$("#discussions").prepend("<div class='discussion_meta'><a href='/people/"+$('#person_id').text()+"'>"+$('#person_nick_name').text()+"</a> ("+$('#person_city').text()+")&nbsp;&nbsp;&nbsp;&nbsp;"+ s+"</div><div class='discussion_content'><p>"+$("#discussion_content").attr("value") +"</p></div><br/>");
		// 		$('form#new_discussion').live('submit', function(e) {
		// 			$("#discussion_content").attr({value: ''});
		// 		});
		// });
		
		
			$('#discussion_content').live('keydown', function(e) {
			  if (e.keyCode === 13) {
			    $('#discussion_submit').trigger('submit');
			  }
			});
			
			$('form#new_discussion').live('submit', function(e) {
					var d = new Date();
					var s = d.getYear()+1900+"-"+(d.getMonth()+1)+"-"+(d.getDay()+9)+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
					$("#discussions").prepend("<div class='discussion_meta'><a href='/people/"+$('#person_id').text()+"'>"+$('#person_nick_name').text()+"</a> ("+$('#person_city').text()+")&nbsp;&nbsp;&nbsp;&nbsp;"+ s+"</div><div class='discussion_content'><p>"+$("#discussion_content").attr("value") +"</p></div><br/>");
					$("#discussion_content").attr({value: ''});
			});
		
		
</script>

<div class="box">
	<div id="sidebar">
		<div id="classroom_photo">
			<%= image_tag @classroom.avatar.url(:medium) %>
		</div>
		<div id="classroom_meta">
			<p>
			  <b>小组名:</b>
			  <%= @classroom.name %>
			</p>
			<p>
			  <b>创建者:</b>
			  <%= @classroom.person.nick_name %>
			</p>
			<p>
			  <b>创建时间:</b>
			  <%= @classroom.created_at.to_date.to_s %>
			</p>
			<% if can_delete?(@classroom) %>
				<%= link_to '编辑', edit_classroom_path(@classroom) %> 
			<% end %>
		</div>
		<div id="classroom_des">
			<p>
			  <b>描述:</b>
			  <%= simple_format @classroom.description %>
			</p>
		</div>
		<div id="classroom_people">
			<p><b>聊天室用户(按活跃度排名):</b></p>
			
			<% @people.each do |person| %>
			<div class="person_photo_thumb">				
				<%= image_tag person.avatar.url(:thumb) %>
			</div>
			<% end %>
			<%= paginate @people %>
		</div>
	</div>
	
	<div id="content">
		<p id="notice"><%= notice %></p>
		<div id="person_info" style="display:none;">
			<div id="person_id"><%= session[:person_id] if session[:person_id]%></div>
			<div id="person_nick_name"><%= current_person.nick_name if session[:person_id]%></div>
			<div id="person_city"><%= current_person.city if session[:person_id] %></div>
		</div>
		
		<div id="<%= 'discussion_form_'+session[:person_id].to_s if session[:person_id] %>">
		<%= render :partial => "discussions/form", :locals => {:classroom_id => @classroom.id, :discussion => @discussion} %>	</div>
		<%= subscribe_to "/discussions/new" %>
		<h2>聊天记录:</h2>
		<div id="discussions" class="<%= 'discussions_'+session[:person_id].to_s if session[:person_id] %>">
				<%= render @discussions %>
		</div>
		<%= paginate @discussions %>
		
	</div>
	
</div>

