<% content_for :title,"泡妞学聊天室" %>
<% content_for :keywords,"泡妞学聊天室" %>
<% content_for :description,"泡妞学聊天室,每天晚上9点." %>


<% if Rails.env == "production" %>
<script type="text/javascript">
	var faye = new Faye.Client('http://www.paoniuxue.com:9292/faye');
</script>
<% else %>
<script type="text/javascript">
	var faye = new Faye.Client('http://localhost:9292/faye');
</script>
<% end %>

<script type="text/javascript">
	// for limit words
	$(function () {
	      $('textarea.limited').maxlength({
	          'feedback' : '.charsLeft', 'useInput' : true
	      });
	});
		// enter to send discussion
	$('#discussion_content').live('keydown', function(e) {
	  if (!e.ctrlKey && e.keyCode === 13) {
			$('#discussion_submit').trigger('submit');
	  } 
	});

  // send fast
	$('form#new_discussion').live('submit', function(e) {
		var d = new Date();
		var time = d.getFullYear()+"-"+(d.getMonth()+1)+"-"+(d.getDate())+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
		var content = "";
		if ($("#person_id").text() != "msr") {
			content = $("#discussion_content").attr("value").replace('\n','<br />');
		} else {
			content = "陌生人不可以参与聊天";
		}
		$("#discussions").append("<div class='discussion_meta'><a href='/people/"+$('#person_id').text()+"'>"+$('#person_nick_name').text()+"</a> ("+$('#person_city').text()+")&nbsp;&nbsp;&nbsp;&nbsp;"+ time+"</div><div class='discussion_content'><p>"+content +"</p></div><br/>");
		$("#discussion_content").attr({value: ''});
		// when add a discussion, scroll to latest discussion
		$("#discussions")[0].scrollTop = $("#discussions")[0].scrollHeight;
	});
		// after load window, scroll to the bottom of dicusssions, setTimeout for IE issues
		$(document).ready(function() { 
			setTimeout(function(){   
		    $("#discussions")[0].scrollTop = $("#discussions")[0].scrollHeight; 
		  },100);
		});

	// add extension to send user name, and update discussion or user list message
	$(function() {
			faye.addExtension({
			  outgoing: function(message, callback) {
			    if (message.channel === '/meta/subscribe' || message.channel === '/meta/disconnect' ) {
			      message.person_nick_name = $('#person_nick_name').text();
			      message.person_id = $('#person_id').text();
			    }
			    callback(message);
			  }
			});
	
		  faye.subscribe('/discussions/new', function (data) {
		
				if (data.message != null) {
							$("#discussions").append("<div class='discussion_content'><li>" + data.message.content + "</li></div><br/>");
							$("#discussions")[0].scrollTop = $("#discussions")[0].scrollHeight;
							var list = '';
							var list_size = data.message.list_size;
							$.each(data.message.people_list, function(entryIndex,entry) {
								list += "<li>" + entry + "</li>";
							});
							$("#online_size").html(list_size);
				      $("#online_people_list").html(list);
							
				} else {
					eval(data);
				}
		  });
	});
	


</script>
<% if notice %>
<div id="notice"><%= notice %></div>
<% end %>
<div class="box classroom_index">
	
	<div id="classroom_top">
		<div id="classroom_photo">
			<%= image_tag @classroom.avatar.url(:medium) %>
		</div>
		<div id="classroom_des">
		  <%= simple_format truncate(@classroom.description, :length => 140) %>
			<% if can_delete?(@classroom) %>
				<%= link_to '编辑', edit_classroom_path(@classroom) %> 
			<% end %>
		</div>
	</div>
	<div id="classroom_left">
		<div id="discussions" class="<%= 'discussions_'+session[:person_id].to_s if session[:person_id] %>">
				<%= render @discussions.reverse %>
		</div>
		<div id="discussions_history">
			<%= paginate @discussions %>
		</div>
		<%= render :partial => "discussions/form", :locals => {:classroom_id => @classroom.id, :discussion => @discussion} %>	
	</div>
	
	<div id="classroom_people">
		<div id="person_info" style="display:none;">
			<div id="person_id"><%= session[:person_id] ? session[:person_id] : "msr"%></div>
			<div id="person_nick_name"><%= session[:person_id] ? current_person.nick_name : "陌生人"%></div>
			<div id="person_city"><%= current_person.city if session[:person_id] %></div>
		</div>
		<p><b>聊天室在线:(<span id="online_size"></span>):</b></p>
		<div id="online_people_list">
		</div>
		<p><b>所有成员:(<%= @nick_names.size %>):</b></p>
		<div id="people_list">
			<% @nick_names.each do |nick_name| %>
			<li><%= nick_name %></li>
			<% end %>
		</div>
		
	</div>	
	
</div>