<script type="text/javascript">
		$(function () {
        $('textarea.limited').maxlength({
            'feedback' : '.charsLeft', 'useInput' : true
        });
    });

		
			$('#discussion_content').live('keydown', function(e) {
			  if (e.keyCode === 13) {
			    $('#discussion_submit').trigger('submit');
			  }
			});
			// 
			// $('form#new_discussion').live('submit', function(e) {
			// 		var d = new Date();
			// 		var s = d.getYear()+1900+"-"+(d.getMonth()+1)+"-"+(d.getDay()+9)+" "+d.getHours()+":"+d.getMinutes()+":"+d.getSeconds();
			// 		$("#discussions").prepend("<div class='discussion_meta'><a href='/people/"+$('#person_id').text()+"'>"+$('#person_nick_name').text()+"</a> ("+$('#person_city').text()+")&nbsp;&nbsp;&nbsp;&nbsp;"+ s+"</div><div class='discussion_content'><p>"+$("#discussion_content").attr("value") +"</p></div><br/>");
			// 		$("#discussion_content").attr({value: ''});
			// });

			$(function() {
			  var faye = new Faye.Client('http://localhost:9292/faye');
				faye.addExtension({
				  outgoing: function(message, callback) {
				    if (message.channel === '/meta/subscribe') {
				      message.person_nick_name = $('#person_nick_name').text();
				    }
				    callback(message);
				  }
				});
				
			  faye.subscribe('/discussions/new', function (data) {
			    // eval(data);
					if (data.discussion == null) {
								$("#discussions").prepend('<li>' + data.message.content + '</li>');
								var list = '';
								$.each(data.message.people_list, function(entryIndex,entry) {
									list += "<li>" + entry + "</li>";
								});
					      $("#people_list").html(list);
					} else {
						eval(data);
					}
			  });
			});
			
</script>

<div class="box">
	<div id="sidebar">
		<div id="classroom_photo">
			<%= image_tag @classroom.avatar.url(:medium) %>
		</div>
		<div id="classroom_meta">
			<p>
			  <b>小组名:</b>
			  <%= @classroom.name %>
			</p>
			<p>
			  <b>创建者:</b>
			  <%= @classroom.person.nick_name %>
			</p>
			<p>
			  <b>创建时间:</b>
			  <%= @classroom.created_at.to_date.to_s %>
			</p>
			<% if can_delete?(@classroom) %>
				<%= link_to '编辑', edit_classroom_path(@classroom) %> 
			<% end %>
		</div>
		<div id="classroom_des">
			<p>
			  <b>描述:</b>
			  <%= simple_format @classroom.description %>
			</p>
		</div>
		<div id="classroom_people">
			<h4>在线用户:</h4>
			<div id="people_list">
			</div>
		</div>
	</div>
	
	<div id="content">
		<p id="notice"><%= notice %></p>
		<div id="person_info" style="display:none;">
			<div id="person_id"><%= session[:person_id] if session[:person_id]%></div>
			<div id="person_nick_name"><%= current_person.nick_name if session[:person_id]%></div>
			<div id="person_city"><%= current_person.city if session[:person_id] %></div>
		</div>
		
		<div id="<%= 'discussion_form_'+session[:person_id].to_s if session[:person_id] %>">
		<%= render :partial => "discussions/form", :locals => {:classroom_id => @classroom.id, :discussion => @discussion} %>	</div>
		
		<h2>聊天记录:</h2>
		<div id="discussions" class="<%= 'discussions_'+session[:person_id].to_s if session[:person_id] %>">
				<%= render @discussions %>
		</div>
		<%= paginate @discussions %>
		
	</div>
	
</div>

