<div class="discussion_meta">
	<%= link_to discussion.person.nick_name, discussion.person %>(<%= discussion.person.city %>)&nbsp;&nbsp;&nbsp;&nbsp;<%= discussion.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
	<% if is_admin? %>
			<%= link_to 'X', discussion, :data => { :confirm => '确定删除?' }, method: :delete %>
	<% end %>
</div>
<div class="discussion_content">				
	<%= simple_format discussion.content %>	
</div>
<br/>


