<%= form_for(discussion, :remote => true) do |f| %>
  <%if discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(discussion.errors.count, "错误") %> :</h2>

      <ul>
      <% discussion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<% unless is_member? %>
		<div class="note_notice">(非学员不可以聊天)</div>
	<% end %>
	<p>按Enter键直接发送,可以输入 <span class="charsLeft">140</span> 个字符(+1积分)
		<input type="button" value="红" class="red" onclick="setColor('red');" />
		<input type="button" value="粉" class="pink" onclick="setColor('pink');" />
		<input type="button" value="绿" class="green" onclick="setColor('green');" />
		<input type="button" value="蓝" class="blue" onclick="setColor('blue');" />
		<input type="button" value="综" class="brown" onclick="setColor('brown');" />
		<input type="button" value="大" onclick="setColor('big_text');" />
		
	</p>
  <div class="field">
    <%= f.text_area :content, :size => "75x5", :class => "limited" %>
  </div>
  <div class="field">
		<input type="hidden" name="maxlength" value="140" />
  </div>
  <div class="field">
    <%= f.hidden_field :classroom_id, :value => classroom_id %>
  </div>


  <div class="actions">
    <%= f.submit "写好了,说吧!", :id => "discussion_submit" %>
  </div>

<% end %>

