<%= form_for(discussion, :remote => true) do |f| %>
  <%if discussion.errors.any? %>
    <div id="error_explanation">
      <h2><%= discussion.errors.count.to_s+"个错误" %> :</h2>

      <ul>
      <% discussion.errors.full_messages.each do |msg| %>
        <li><%= format_error(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, :size => "75x5", :class => "limited" %>
  </div>
  <div class="field">
		<input type="hidden" name="maxlength" value="140" />
  </div>
  <div class="field">
    <%= f.hidden_field :classroom_id, :value => classroom_id %>
  </div>


  <div class="actions">
		<div id="limit_chars">可输入 <span class="charsLeft">140</span> 个字(+1积分),按Enter直接发送</div>
    <%= f.submit "发送", :id => "discussion_submit" %>
  </div>

<% end %>

