<%= form_for(comment) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= comment.errors.count.to_s+"个错误" %> :</h2>

      <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= format_error(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, :size => "68x10" %>
		<%= f.hidden_field :commable_type, :value => commable_type %>
		<%= f.hidden_field :commable_id, :value => commable_id %>
		
  </div>


  <div class="actions">
    <%= f.submit "回复" %>
  </div>

<% end %>

