<%= form_for @person, :html =>{:class => "form-horizontal"} do |f| %>
  <% if @person.errors.any? %>
		<div class="alert">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  <h4>错误:</h4>
	    <ul>
	    <% @person.errors.full_messages.each do |msg| %>
	      <li><%= format_error(msg) %></li>
	    <% end %>
	    </ul>
		</div>
  <% end %>


		
	<% if @person.new_record? %>
		<div class="control-group">
			<div class="control-label">
			  <%= f.label :email, "邮箱(2到20字符)" %>
			</div>
			<div class="controls">
			  <%= f.text_field :email %>
		  </div>
		</div>
	<% end %>
	
  <div class="control-group">
		<div class="control-label">
	 	 <% if @person.new_record? %>
		    <%= f.label :password, "密码(6到16字符)" %>
			<% else %>
	    	<%= f.label :password, "修改密码(6到16字符,如果不想修改请不要填)" %>
			<% end %>
		</div>
		<div class="controls">
	    <%= f.password_field :password %>
		</div>
  </div>
	<div class="control-group">
		<div class="control-label">
	  	<%= f.label :password_confirmation, "重新输入密码" %> 
		</div>
		<div class="controls">
			<%= f.password_field :password_confirmation %>
		</div>
  </div>
	<div class="control-group">   
		<div class="control-label"> 
			<%= f.label :nick_name, "昵称(2到10字)" %>
		</div>
		<div class="controls">
	    <%= f.text_field :nick_name %>
		</div>
  </div>
	<div class="control-group">
		<div class="control-label">
	    <%= f.label :city, "城市" %>
		</div>
		<div class="controls">
	    <%= f.text_field :city %>
		</div>
  </div>
	
	<% if is_admin? and @person.id != session[:person_id]%>
	  <div class="control-group">
			<div class="control-label">
		    <%= label_tag :role, "用户组" %>
			</div>
			<div class="controls">
	    <%= select_tag :role, options_for_select(Person::Roles.collect {|role| [role,role]}, @person.new_record? ? "学员" : @person.role) %>
			</div>
	  </div>
		<div class="control-group">
			<div class="control-label">
		    <%= label_tag :dead, "注销" %>
			</div>
			
			<div class="controls">
		    <%= select_tag :dead, options_for_select(Person::Dead.collect {|dead| [dead,dead]}, @person.new_record? ? "no" : @person.dead) %>
			</div>
	  </div>
  <% end %>
  


<!-- 再次编辑自己的资料 -->  
  <% unless @person.new_record? %>
	 <!-- 管理员可以编辑  -->

	  <div class="control-group">
			<div class="control-label">
		    <%= f.label :age, "年龄(数字,16到60)" %>
			</div>
			<div class="controls">
		    <%= f.number_field :age %>
			</div>
	  </div>
	  <div class="control-group">
			<div class="control-label">
		    <%= f.label :marriage, "选择婚姻状态" %>
			</div>
			<div class="controls">
		    <%= f.select :marriage, ApplicationHelper::Marriage, :include_blank => true %>
			</div>
	  </div>
	
	  <div class="control-group">
			<div class="control-label">
		    <%= f.label :education, "选择教育程度" %>
			</div>
			<div class="controls">
		    <%= f.select :education, ApplicationHelper::Education, :include_blank => true %>
			</div>
	  </div>
		<div class="control-group">
			<div class="control-label">	 
			  <%= f.label :job, "职业(2到10字)" %>
			</div>
			<div class="controls">
		    <%= f.text_field :job %>
			</div>
	  </div>
		<div class="control-group">
			<div class="control-label">	 
		    <%= f.label :salary, "月薪(数字,1000到10000000)" %>
			</div>
			<div class="controls">
		    <%= f.number_field :salary %>
			</div>
	  </div>
		<div class="control-group">
			<div class="control-label">	 
			  <%= f.label :sex, "选择性别" %>
			</div>
			<div class="controls">
		    <%= f.select :sex, ApplicationHelper::Sex, :include_blank => true %>
			</div>
	  </div>
		<div class="control-group">
			<div class="control-label">	    
				<%= f.label :avatar, "修改头像(添加一张图片)" %>
			</div>
			<div class="controls">
		    <%= f.file_field :avatar  %>
			</div>
	  </div>

  <% end %>

	
		<div class="control-group">
			<div class="controls">
				<%= f.submit "提交", :class => "btn btn-primary ie6-btn" %>
				<% unless @person.new_record? %>
					<%= link_to '取消', people_path, :class => "btn cancel" %>
				<% end %>
			</div>
		</div>
			
<% end %>
