<% content_for :title,"pua课程网-我的主页" %>
<% content_for :keywords,"话术,惯例库,追女孩子的技巧,追女孩子的短信,追女孩子的话,追女孩子的方法,追女生,追女生技巧" %>
<% content_for :description,"pua课程网,我的主页,最近在聊天室的讨论,最近在班级里面的发言,最近发表的惯例,最近共享的资源." %>


<div class="row">
	
	<div class="span8">
		<% if notice %>
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <%= notice %>
			</div>
		<% end %>
		
		<h4>最近你在班级发布的帖子</h4>
		<table id="topics" class="table table-condensed">
			<thead>
			  <tr>
			    <th class="topic-title">话题</th>
			    <th class="topic-comments-size">回应</th>
			    <th class="last-reply-at">最后回应</th>  
			    <th class="last-reply-at">回复者</th>
			  </tr>
			</thead>
			<tbody>
				<% @latest_topics.each do |topic| %>
					<tr>
				    <td><%= link_to topic.title, topic, :target => "_blank" %></td>
				    <td><%= topic.comments.size %></td>
				    <td><%= time_ago_in_words(topic.last_replied_at) %></td>
				    <td><%= link_to topic.last_replied_person.nick_name, topic.last_replied_person if topic.last_replied_person %></td>
				
					</tr>
				<% end %>
			</tbody>
		</table>
			
				
	   	<h4>最近共享的资源</h4>

			<table id="search_results" class="table table-condensed">
				</thead>
				<tbody>
					<% @latest_resources.each do |resource| %>
					<tr>
						<td class="resource-avatar"><%= image_tag resource.category.avatar.url(:thumb) %></td>

						<td class="title"><%= link_to resource.title, resource , :target => "_blank"%></td>

						<td class="created-at"><%= resource.created_at.to_date.to_s %></td>
					</tr>
					<% end %>
				</tbody>
			</table>

		
			<h4>最近发布的惯例</h4> 
			
			
			<% @latest_notes.each do |note| %>
				<div class="media">
				  <a class="pull-left" href="#">
						<%= image_tag note.person.avatar.url(:thumb),:class => "media-object" %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><%= link_to note.title, note, :target => "_blank" %></h4>
				    <div class="media">
							发布:<%= link_to note.person.nick_name, note.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阶段:<%= link_to note.category.name, category_notes_path(:path => note.category.path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= note.created_at.to_date.to_s %>
							<br />
							<br />
							<%= simple_format note.content %>
					 
				    </div>
				  </div>
				</div>
				<hr />
			<% end %>
			
	
			 <h4>最近发布的文章</h4>
				<table id="topics" class="table table-condensed">
					<thead>
					  <tr>
					    <th class="topic-title">文章</th>
					    <th class="last-reply-at">日期</th>  
					    <th class="last-reply-at">浏览量</th>
					  </tr>
					</thead>
					<tbody>
						<% @latest_articles.each do |article| %>
							<tr>
						    <td><%= link_to article.title, article, :target => "_blank" %></td>
						    <td><%= time_ago_in_words(article.created_at) %></td>
						    <td><%= article.views %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
				
				
		<!-- <h4>最近在聊天室的讨论</h4>
		  <%# @latest_discussions.each do |discussion| %>
				<div class="discussion_meta">
					<%#= discussion.person.nick_name %>&nbsp;&nbsp;&nbsp;&nbsp;<%#= discussion.created_at.to_date.to_s %>
					<%# if is_admin? %>
							<%#= link_to 'X', discussion, :data => { :confirm => '确定删除?' }, method: :delete %>
					<%# end %>
				</div>
				<div class="discussion_content">					
					<%#= simple_format discussion.content %>	
				</div>
				<br/>
			<%# end %> -->
		


		<h4>收藏等更多功能开发中...</h4>
	</div>
	
	<div class="span4">
		<%= render :partial => "person_info", :locals => { :person => @person} %> 
	</div>

	
	
</div>
