<% content_for :title,"阅读泡妞秘籍和观看泡妞视频,泡妞电影,向泡妞专家学习如何泡妞" %>
<% content_for :keywords,"泡妞秘籍,泡妞视频,泡妞电影,泡妞专家,泡妞技巧,怎么泡妞,泡妞高手,泡妞图片,泡妞大全,泡妞书籍,追女孩子的技巧,追女孩子的短信,追女孩子的话,追女孩子的方法" %>
<% content_for :description,"泡妞文章和泡妞视频栏目,文章里面包含了泡妞秘籍,专题里面有泡妞视频,以及泡妞电影的下载地址, 看看泡妞高手和电影明星是如何泡妞,如何搭讪的.学习搭讪的技巧和约会技巧." %>


<% unless is_member? %>
	<div id="header_gaoguang">
		<a href="/guangpan"><img src="/assets/gaoguang.png" alt="专业约会指导教程" /></a>
	</div>
<% end %>

<div class="box article_box">
	<div id="categories">
		<ul>
			<li <%="class=selected" if @path == nil  %>><%= link_to "所有文章", articles_path %></li>
			<% @categories.each do |category| %>
			<li <%="class=selected" if @path == category.path  %>><%= link_to category.name+"(#{category.articles.size})", category_articles_path(:path => category.path) %></li>
			<% end %>
		</ul>
	</div>
	
	<div id="content">		
		<% if notice %>
			<div id="notice"><%= notice %></div>
		<% end %>

		<% if is_admin? %>
			<%= render :partial => 'form' %>
		<% end %>
		<h2>最近分享文章</h2>

		<% @articles.each do |article| %>
			<div class="entry_person_photo">
				<%= image_tag article.person.avatar.url(:thumb) %>
			</div>
			<div class="entry_title"><%= link_to truncate(article.title,:length => 35), article,:target => "_blank" %></div>
			<br /><br />
			<div class="entry_meta">类别:<%= link_to article.category.name, category_articles_path(:path => article.category.path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布:<%= link_to article.person.nick_name, article.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= article.created_at.to_date.to_s %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;浏览:<%= article.views %>
			</div>
			<br />
			
			<div class="entry_content">
				<div class="article_image">
					<%= image_tag article.picture.url(:medium) %>
				</div>
				<%= simple_format article.description %>
			</div>
			<div class="entry_edit_bar">
				<div class="right_text">
				<%= link_to "=>详细", article, :target => "_blank"  %>
				</div>
			</div>
			<hr />
		<% end %>
		<%= paginate @articles %>		
			
	</div>

	
</div>  <!-- end of box -->


