<% content_for :title,"文章搜索" %>
<% content_for :keywords,"泡妞学问答,泡妞问题,泡妞案例分享." %>
<% content_for :description, "文章搜索" %>

<div class="row">		
	<div class="span8">
		<% if notice %>
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <%= notice %>
			</div>
		<% end %>
		<div class="row">
			<div class="span8">
				<%= form_tag :article_search, :class => "form-search" do |f| %>
			    <%= text_field_tag :query,params[:query], :class => "input-medium search-query" %>
		  		<button type="submit" class="btn btn-primary">搜索文章</button>
				<% end %>
			</div>
		</div>
		
		<h4>文章搜索:<%= params[:query] %></h4>
		<table id="search_results" class="table table-condensed">
			<tbody>
				<% @articles.each do |article| %>
				<tr>
					
					<td class="title"><%= link_to article.title, article , :target => "_blank"%></td>
					<td class="created-at"><%= time_ago_in_words(article.created_at) %>发表</td>
					<td class="nick-name"><%= link_to article.person.nick_name, article.person %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<% unless @articles == [] %>
			<%= paginate @articles %>		
		<% end %>
	</div>
	
	
		
	
	
	<div class="span4">
		<%= link_to "返回<<", articles_path %>
	</div>

</div>