<% content_for :title,"pua课程网-测试你的情商" %>
<% content_for :keywords,"情感测试,性爱测试" %>
<% content_for :description,"pua课程网,测试你的情商,测试你性商,泡妞学测试" %>

<script>
	$(document).ready(function() {
		$('form').on('submit', function(e) {
			$(this).parent().find(".notice_answer").append('<div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>'+"答案:"+'</div>');
		});
	});
	

</script>





<div class="row">
	<div class="span8">
		<% if notice %>
					<div class="alert">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <%= notice %>
					</div>
		<% end %>
		<div class="media">
		  <a class="pull-left" href="#">
				<%= image_tag @testing.person.avatar.url(:thumb),:class => "media-object" %>
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading"><%= link_to @testing.title, @testing, :target => "_blank" %></h4>
		    <div class="media">
					发布:<%= link_to @testing.person.nick_name, @testing.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= @testing.created_at.to_date.to_s %>
					<br />
					<br />
					<%= simple_format @testing.content %>
					<div class="notice_answer" id="notice_answer_<%= @testing.id %>"></div>
					<%= form_tag :test, :remote => true do |f| %>
						<% @testing.options.each_with_index do |option,index| %>
							<div class="field">
								<%= radio_button_tag "answer",ApplicationHelper::IndexToLetter[index], false %>		
								<%= ApplicationHelper::IndexToLetter[index] %>.<span class="help-inline"><%= label_tag "answer", option.content %></span>
							</div>
							<div class="field">
								<%= hidden_field_tag "testing_id",@testing.id %>		
							</div>
						<% end %>
						<div class="field">
							<%= submit_tag "提交", :class => "btn btn-primary" %>
						</div>	
					<% end %>
				
					<% if can_delete?(@testing) %>
						<%= link_to '编辑', edit_testing_path(@testing) %>
						<%= link_to '删除', @testing, :data => { :confirm => '确定删除' }, method: :delete %>
					<% end %>
					<%= render :partial => "share/bdshare" %>	
					
		    </div>
		  </div>
		</div>
		<br />
		
		<h4>所有评论(评论:+1积分)</h4>
		<hr />
		<div id="comments">
			<% @comments.each do |comment| %>
				<%= render comment %>
			<% end %>
			
			<%= render :partial => "comments/form", :locals => { :comment => @comment, :commable_type => "Testing", :commable_id => @testing.id } %>
		</div>
			
	</div>
	<div class="span4">
		<%= link_to "返回<<", :back %>
		<hr />
		<h4>最近测试</h4>
		<ul>
		<% @latest_testings.each do |testing| %>
			<li><%= link_to testing.title, testing %></li>
		<% end %>
		</ul>
	</div>
	
</div>