<% content_for :title,"泡妞学班级" %>
<% content_for :keywords,"话术,惯例库,追女孩子的技巧,追女孩子的短信,追女孩子的话,追女孩子的方法,追女生,追女生技巧" %>
<% content_for :description,"泡妞学班级, 如果白天老师不在教室,如果你有约会恋爱问题,请发到泡妞学班级." %>


<div class="row ie6-row">
	
	<div class="span8">
		<% if notice %>
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <%= notice %>
			</div>
		<% end %>
		<div class="row">
			<div class="span8">
				<%= form_tag :topic_search, :class => "form-search" do |f| %>
			    <%= text_field_tag :query,nil, :class => "input-medium search-query" %>
		  		<button type="submit" class="btn btn-primary">搜索问题</button>
				<% end %>
			</div>
		</div>
		
		<%= link_to "+ 提问",:new_topic, :class => "btn btn-success pull-right" %>
		
		<h4>最近学员提问</h4>
		
		
		<div id="topics">
			<% @topics.each do |topic| %>
				<div class="media">
				  <a class="pull-left" href="#">
						<%= image_tag topic.person.avatar.url(:thumb),:class => "media-object" %>
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading"><%= link_to truncate(topic.title,:length => 34), topic, :target => "_blank" %><span class="pull-right badge"><%= topic.comments.size %></span></h4>
				    <div class="media">
							<p class="help-block"><%= link_to topic.person.nick_name, topic.person %>&nbsp;&nbsp;<%= time_ago_in_words(topic.created_at) %>发布&nbsp;&nbsp;•&nbsp;&nbsp;
							<% if topic.comments.size > 0 %>
								最后由&nbsp;<%= link_to topic.last_replied_person.nick_name,topic.last_replied_person %>&nbsp;于<%= time_ago_in_words(topic.last_replied_at) %>回复
							<% end %>
							</p>
				    </div>
				  </div>
				</div>
				<hr />
			
			<% end %>
		</div>					
		<%= paginate @topics %>		
	</div>
	
	
	<div class="span4">
		<div class="media">
		  <a class="pull-left" href="#">
				<%= image_tag @group.avatar.url(:medium), :class => "media-object" %>
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading">班级名:<%= @group.name %></h4>
		    <div class="media">
		      <p>
					  创建者:<%= link_to @group.person.nick_name, @group.person %><br />
					  创建时间:<%= @group.created_at.to_date.to_s %>
					</p>
				
					<% if can_delete?(@group) %>
						<%= link_to '编辑', edit_group_path(@group) %> 
					<% end %>
		    </div>
		  </div>
		</div>
		<hr />
		
		<h4>积分前10名:</h4>
		<div class="row">
		<% @people.each do |person| %>
				<div class="span1">				
					<%= link_to image_tag(person.avatar.url(:thumb)), person %> <br />
					<%= link_to person.nick_name, person %>
				</div>
		<% end %>
		</div>
		
		<%= link_to ">>所有学员", people_path %>
		
		
		<hr />
	
		<h4>最近发布惯例:</h4>
		<ul>
			<% @notes.each do |note| %>
				<li><%= link_to note.title, note %><br /></li>
			<% end %>				
		</ul>
		<%= link_to ">>所有惯例", notes_path %>
		<hr />
		
		<h4>最近发布测试:</h4>
		<ul>
			<% @testings.each do |testing| %>
				<li><%= link_to testing.title, testing %><br /></li>
			<% end %>				
		</ul>
		<%= link_to ">>所有测试", testings_path %>
		<hr />
		
		<h4>最近发布资源:</h4>
		<ul>
			<% @resources.each do |resource| %>
				<li><%= image_tag resource.category.avatar.url(:thumb) %><%= link_to resource.title, resource %><br /></li>
			<% end %>				
		</ul>
		<%= link_to ">>所有资源", resources_path %>
		<hr />
		
		<h4>最近发布文章:</h4>
		<ul>
			<% @articles.each do |article| %>
				<li><%= link_to article.title, article %><br /></li>
			<% end %>				
		</ul>
		<%= link_to ">>所有文章", articles_path %>
	</div>

</div>

