<% content_for :title,@topic.title %>
<% content_for :keywords,"泡妞学问答,泡妞问题,泡妞案例分享." %>
<% content_for :description, truncate(@topic.content, :length => 300) %>

<div class="box ">
	<div id="content">
				 
		<div class="entry_person_photo">
			<%= image_tag @topic.person.avatar.url(:thumb) %>
		</div>
		<div class="entry_title"><%=  @topic.title %></div>
		<br /><br />
		<div class="entry_meta">发布:<%= link_to @topic.person.nick_name, @topic.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发表于:<%= time_ago_in_words(@topic.created_at) %>
		</div>
		
		<div class="entry_content"><%= simple_format @topic.content %></div>
		<div class="entry_edit_bar">
			<%= render :partial => "share/bdshare" %>
	    
			<% if can_delete?(@topic) %>
				<%= link_to '编辑', edit_topic_path(@topic) %>
				<%= link_to '删除', @topic, :data => { :confirm => '确定删除' }, method: :delete %>
			<% end %>
		</div>
		<hr />
		<h2>所有回复(回复:+1积分)</h2>
		<% if notice %>
			<div id="notice"><%= notice %></div>
		<% end %>
		<div id="comments">
			<% @comments.each do |comment| %>
				<%= render comment %>
			<% end %>
			
			<%= render :partial => "comments/form", :locals => { :comment => @comment, :commable_type => "Topic", :commable_id => @topic.id } %>
		</div>
			
	</div>
	<div id="sidebar">
		<%= link_to "返回小组", @topic.group %>
	</div>
</div>