<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h4><%= @group.errors.count.to_s+"个错误" %>:</h4>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= format_error(msg) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<div class="field">
    <%= f.label :avatar, "班级图片(必填)" %><br />
    <%= f.file_field :avatar  %>
  </div>

  <div class="field">
    <%= f.label :name, "班级名(1到100字)" %><br />
    <%= f.text_field :name, :size => 113,:class => "input-xxlarge" %>
  </div>

  <div class="field">
    <%= f.label :description, "班级描述(1到10万字)" %><br />
    <%= f.text_area :description, :size => "82x18",:class => "input-xxlarge" %>
  </div>


  <div class="actions">
    <%= f.submit "提交", :class => "btn btn-primary ie6-btn" %>
  </div>
<% end %>
