<% content_for :title,"所有班级-pua课程网" %>
<% content_for :keywords,"泡妞班级列表,所有班级" %>
<% content_for :description,"pua课程网班级列表,每天推出一个班级." %>


	<% if notice %>
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <%= notice %>
			</div>
		<% end %>
	
	<% if is_admin? %> 			
		<%= link_to '创建班级', new_group_path %>
	<% end %>

<div class="row">
	<h1>所有班级</h1>
	<div id="groups">		
		<% @groups.each do |group| %>
			<%= link_to image_tag(group.avatar.url(:medium), :class => "image_right_bottom"), group %>					
			
			<h4 class= "index_organization_title"><%= link_to group.name, group %></h4>
			<div class="index_organization_description"><%= truncate(group.description, :length => 55) %></div><br />
			创建时间:<%= group.created_at.to_date.to_s %>
			<span class="space">创建者:<%= link_to group.person.nick_name, :root %></span>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<% if is_admin? %>
				<%= link_to '编辑', edit_group_path(group) %>
				<%= link_to '删除', group, :data => { :confirm => '确定删除?' }, method: :delete %>
			<% end %>
			<hr />
		<% end %>
	</div>
</div>


	


