<div class="box">
	<div id="sidebar">
		<div id="group_photo">
			<%= image_tag @group.avatar.url(:medium) %>
		</div>
		<div id="group_meta">
			<p>
			  <b>小组名:</b>
			  <%= @group.name %>
			</p>

		
			<p>
			  <b>创建者:</b>
			  <%= @group.person.nick_name %>
			</p>

			<p>
			  <b>创建时间:</b>
			  <%= @group.created_at.to_date.to_s %>
			</p>
			<% if can_delete?(@group) %>
				<%= link_to '编辑', edit_group_path(@group) %> 
			<% end %>

		</div>
		<div id="group_des">
				<p>
				  <b>描述:</b>
				  <%= simple_format @group.description %>
				</p>
		</div>
		
		<div id="group_people">
				<p><b>小组成员(按活跃度排名):</b></p>

				<% @people.each do |person| %>
				<div class="person_photo_thumb">				
					<%= image_tag person.avatar.url(:thumb) %>
				</div>
				<% end %>
				<%= paginate @people %>
			</div>
	</div>
		
	
	<div id="content">

		
		<h2>发帖(2积分)</h2>		
		<% if notice %>
			<div id="notice"><%= notice %></div>
		<% end %>
	
		<%= render :partial => 'topics/form' %>
		<h2>最近帖子</h2>
		<% @topics.each do |topic| %>
			<div class="entry_person_photo">
				<%= image_tag topic.person.avatar.url(:thumb) %>
			</div>
			<div class="entry_title"><%= link_to topic.title, class_topic_path(@group,topic), :target => "_blank" %></div>
			<br /><br />
			<div class="entry_meta">发布:<%= link_to topic.person.nick_name, topic.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= topic.created_at.to_date.to_s %>
			</div>
			
			<div class="entry_content"><%= simple_format truncate(topic.content, :length => 200) %></div>
			<div class="entry_edit_bar">
				<%= link_to "详细(#{topic.comments.size})", class_topic_path(@group,topic), :target => "_blank"  %>
			</div>
			<hr />
		<% end %>
		<%= paginate @topics %>		
	</div>

	
</div>

