<div class="box">
	<div id="sidebar">
		<div id="group_photo">
			<%= image_tag @group.image.url(:thumb) %>
		</div>
		<div id="group_meta">
			<p>
			  <b>小组名:</b>
			  <%= @group.name %>
			</p>

		
			<p>
			  <b>创建者:</b>
			  <%= @group.user.nick_name %>
			</p>

			<p>
			  <b>创建时间:</b>
			  <%= @group.created_at.to_date.to_s %>
			</p>
			<% if can_delete?(@group) %>
				<%= link_to '编辑', edit_group_path(@group) %> 
			<% end %>

		</div>
		<div id="group_des">
				<p>
				  <b>描述:</b>
				  <%= simple_format @group.description %>
				</p>
		</div>
		
		<div id="group_users">
				<p><b>小组内用户(按活跃度排名):</b></p>

				<% @users.each do |user| %>
				<div class="user_photo_thumb">				
					<%= image_tag user.photo.url(:thumb) %>
				</div>
				<% end %>
				<%= paginate @users %>
			</div>
	</div>
		
	
	<div id="content">
		<div id="notice"><%= flash[:notice] || flash.now[:notice] %></div>
		<h2>发帖</h2>
		<div class="note_notice">(发帖对积分无影响,回贴:+2积分)</div>
		
		<%= render :partial => 'topics/form', :locals => {:group_id => @group.id}  %>
		<h2>最近帖子</h2>
		<% @topics.each do |topic| %>
			<div class="topic_user_photo">
				<%= image_tag topic.user.photo.url(:thumb) %>
			</div>
			<div class="topic_title"><%= link_to truncate(topic.title,:length => 35), topic %></div>
			<br /><br />
			<div class="topic_meta">发布:<%= link_to topic.user.nick_name, topic.user %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= topic.created_at.to_date.to_s %>
			</div>
			
			<div class="topic_content"><%= simple_format truncate(topic.content, :length => 200) %></div>
			<div class="topic_edit_bar">
				<%= link_to "回复(#{topic.comments.size})", topic  %>
			</div>
			<hr />
		<% end %>
		<%= paginate @topics %>		
	</div>

	
</div>

