<% content_for :title, "泡妞学网-专业约会指导教程-泡妞秘籍+泡妞书籍<指男针>+泡妞高手QQ群内指导-5年打造大陆最强泡妞秘籍" %>
<% content_for :keywords, "泡妞网,泡妞,泡妞视频,泡妞秘籍,泡妞电影,追女孩子的技巧,追女孩子的短信,寒江雪,泡妞网,泡妞专家,泡妞技巧,怎么泡妞,泡学,泡学网,搭讪,搭讪的法则,魔鬼搭讪学,搭讪技巧,搭讪开场白,把妹,把妹达人,约会,约会技巧,约会去哪里,恋爱高手,谈恋爱的技巧" %>
<% content_for :description, "来不了现场,请选择泡妞秘籍<专业约会指导教程>光盘,送泡妞书籍<指男针>.大陆第一部专业泡妞指导书.适合国内.学完加入泡妞QQ群,泡妞高手指导.你在苦苦寻找泡妞高手帮忙指导吗?你想尽快追到心仪的她吗?你还在各个泡妞论坛里面苦苦寻找泡妞秘籍吗?你想成为泡妞高手吗?请来泡妞学网,5年打造大陆第一专业泡妞追女约会恋爱指导网站.助你告别宅男,追到你的意中人." %>

<!--产品定位+产品名称+产品图片-->

<% if notice %>
	<div id="notice"><%= notice %></div>
<% end %>


<div class="box">
	<h2 class="chunjie">仅春节献礼58套泡妞恋爱课程35元!!!</h2>
	
	<div class="header_left">
		<h1>课程包括:</h1>
		<h5>时间有限,购买前先点击左边商品先阅读介绍,自助购物,留下QQ邮箱即可,有问题再咨询QQ:399906796,pua男人店为了冲钻!!再次开放特价三天！特价35元！！好评后赠送店主个人珍藏私密课程!</h5>

			<p style="font-size:18px;color:#f00;">群资料更新（本店客户独享）：</p>

			<ul style="font-size:14px;">

			<li>1.PUACN2012峰会嘉宾访谈18集音频.（<span style="color:#f00;">1月18日更新</span>）</li>
			<li>2.2012上海pua峰会嘉宾现场演讲录音：但丁、成真、冷爱、小狗（12月4日更新）</li>
			<li>3.淘宝猎手体系01四大理论之一：三答三问（1月3号更新）</li>
			<li>4.200本泡妞文档和电子书</li>
			<li>5.速成搭讪教学视频</li>
			<li>6.超级异性吸引术(完整版)</li>
			<li>7.成真迷上我内部课程</li>
			<li>8.如何跟女孩聊天</li>
			<li>9.如何进入第三阶段-调情与诱惑</li>
			<li>10.如何具备追女的心理素质</li>

			</ul>
			

			<ul style="font-size:16px;">
			<li>tango丽江计划现场教学（<span style="color:#f00;">5集音频+5集视频全，非市面缺音频版本</span>）</li>
			<li>Q帝内部VIP私密课程第一期</li>
			<li>Q帝内部VIP私密课程第二期</li>
			<li>Q帝内部VIP私密课程第三期</li>
			<li>Q帝内部VIP私密课程第四期（<span style="color:#f00;">12课全，非市面第6、7课重复版本</span>）</li>
			<li>CYD约会学内部课程全集（<span style="color:#f00;">25集全，非市面19集版本</span>）</li>
			<li>七烟约会法则第一季音频</li>
			<li>七烟约会法则第二季音频</li>
			<li>七烟约会法则第三季音频两版（<span style="color:#f00;">第一版5课+第二版8课全，非市面10课版本</span>）</li>
			<li>七烟约会法则第三季学员分享会（<span style="color:#f00;">37课全，非26课残缺版</span>）</li>
			<li>七烟约会法则第三季学员内部资料</li>
			<li>七烟约会法则第四季音频（<span style="color:#f00;">15课全，非10课版本</span>）</li>
			<li>蓝色答案内部课程之蓝色答案方法(<span style="color:#f00;">5本学员内部学习资料</span>）</li>
			<li>蓝色答案内部课程之PUA成长计划</li>
			<li>痴情男-屌丝逆袭计划-私密录音课程第一期</li>
			<li>痴情男-屌丝逆袭计划-私密录音课程第二期</li>
			<li>痴情男-屌丝逆袭计划-私密录音课程第三期</li>
			<li>浪迹EP模型第一期（含学员内部资料）</li>
			<li>浪迹EP模型第一期课程分享会</li>
			<li>晴天暧昧模型内部学员版</li>
			<li>情狼私密内部课程第一期</li>
			<li>情狼私密内部课程第二期</li>
			<li>情狼私密内部课程第三期</li>
			<li>魔鬼咨询师《魔鬼约会学》课程1.0</li>
			<li>魔鬼咨询师《魔鬼约会学》课程2.0</li>
			<li>魔鬼咨询师《魔鬼约会学》课程3.0（<span style="color:#f00;">完整版，非缺少“魔鬼电台”版本</span>）</li>
			<li>寒江雪超级约会学全集视频+音频+书</li>
			<li>寒江雪搭讪与约会现场培训班DVD视频（<span style="color:#f00;">非市面打水印模糊版</span>）</li>
			<li>逆向恋爱术全套视频教程</li>
			<li>泳湿小狗+七烟上海分享会DVD视频+《小狗约会学》书</li>
			<li>PUA新人上路讲座课程全集</li>
			<li>JS高端会客厅PUA访谈录</li>
			<li>银翼魔术师-银翼魔术师-妞泡我网内部泡妞培训教程(<span style="color:#f00;">内部VIP培训教程音频+视频+书</span>)</li>
			<li>郑匡宇培训课程全集</li>
			<li>无情全套培训课程</li>
			<li>冷爱L7模型内部vip课程第一期10集全</li>
			<li>冷爱L7模型内部vip课程第二期（<span style="color:#f00;">含内部学员资料</span>）</li>
			<li>绛妖精《恋爱方程式》VIP培训视频（女讲师）</li>
			<li>女语者长期理论课程</li>
			<li>女生密码分享会合辑</li>
			<li>2010年pua北京峰会DVD视频</li>
			<li>2011年pua北京峰会DVD视频（<span style="color:#f00;">非市面打水印模糊版</span>）</li>
			<li>台湾搭讪教主上海培训视频全程</li>
			<li>坏男人教学内部课程</li>
			<li>女pua给宅男答疑</li>
			<li>接吻高手速成班-完整真人演示版</li>

			</ul>
			

			<p style="font-size:16px;">此外,群内7套,一共<span style="font-size:3em;color:#f00;">58套</span>课程，课程压缩后大小<span style="font-size:3em;color:#f00;">32.8GB</span>(解压后39G多），包括视频+音频+书籍，可以下载到你的电脑上随时播放。也可以存到你的手机，MP3，MP4等设备上，利用上下班、睡觉前等时间学习。
			资料已经经过整理排序，下载的时候非常方便，不像别家那样，有些在百度云盘，有些在QQ邮箱，十分混乱，各种重复。</p>

			<p style="font-size:16px;"><span style="background-color:#ff0;color:#f00;">店主为了把你购物咨询浪费的时间省下来，打造更好的课程分享到pua男人群内，恳请你购买前请先看介绍。喜欢请及时拍下。如果我不在线，一样可以拍下，下单时填写你的qq邮箱即可，如果忘记填写了。请你给本店旺旺或者QQ:399906796发个留言。我回到电脑旁即给你发送。为了保护你的隐私，请选择匿名.自助购物截图:</span></p>

			<img src="/assets/guangpan/youxiang.png" style="margin:30px auto;" alt="泡妞秘籍" title="泡妞秘籍" />

			<h1>主讲本课程的各位PUA导师</h1>
			<img src="/assets/guangpan/all_pua.png" style="margin:30px auto;" alt="泡妞秘籍" title="泡妞秘籍" />
			
			<h1>宝贝上线第一个星期大家的具体评价</h1>
			<img src="/assets/guangpan/pingjia1.png" style="margin:30px auto;" alt="泡妞秘籍" title="泡妞秘籍"/>
			<img src="/assets/guangpan/pingjia2.png" style="margin:30px auto;" alt="泡妞秘籍" title="泡妞秘籍"/>
	
			<img src="/assets/guangpan/xinyu.png" style="margin:30px auto;" alt="泡妞秘籍" title="泡妞秘籍"/>
	
	</div>
	
	
	<div class="header_right">
		<a href="http://item.taobao.com/item.htm?id=19420275713" target="_top">
			<img src="/assets/guangpan/guangpan.png" class="image_top_bottom" alt="专业约会指导教程" />
		</a>
		<a href="http://item.taobao.com/item.htm?id=19420275713"><img src="/assets/guangpan/lianjie_goumai.png" class="image_top_bottom" alt="专业约会指导教程购买链接" /></a>
		
		<h4>春节献礼仅35元!为保证权益,点击上面去合作店铺购买,30字好评后赠送店主私密珍藏课程加群加入网站,联系QQ:399906796</h4>
	</div>

</div>	


<div class="box">
	
	<h1>网站最近更新</h1>
	<div class="latest_message_4 latest_resources">
		<h2>最近泡妞资源分享</h2>
		<ul>
			<% @resources.each do |resource| %>
			
				<li><%= image_tag resource.category.avatar.url(:thumb) %><%= link_to resource.title, resource %><br /></li>
			<% end %>				
		</ul>
	</div>

	
	<div class="latest_message_4">
		<h2>泡妞学班级最近提问</h2>
		<ul>
			<% @topics.each do |topic| %>
				<li><%= link_to topic.title, topic %><br /></li>
			<% end %>				
		</ul>
	</div>

	<div class="latest_message_4">
		<h2>最近发布泡妞学惯例</h2>
		<ul>
			<% @notes.each do |note| %>
				<li><%= link_to note.title, note %><br /></li>
			<% end %>				
		</ul>
	</div>

	
	<div class="latest_message_4">
		<h2>最近发布泡妞学文章</h2>
		<ul>
			<% @articles.each do |article| %>
				<li><%= link_to article.title, article %><br /></li>
			<% end %>				
		</ul>
	</div>

</div>

