<% content_for :title, "泡妞学网-专业约会指导教程-泡妞秘籍+泡妞书籍<指男针>+泡妞高手QQ群内指导-5年打造大陆最强泡妞秘籍" %>
<% content_for :keywords, "泡妞网,泡妞,泡妞视频,泡妞秘籍,泡妞电影,追女孩子的技巧,追女孩子的短信,寒江雪,泡妞网,泡妞专家,泡妞技巧,怎么泡妞,泡学,泡学网,搭讪,搭讪的法则,魔鬼搭讪学,搭讪技巧,搭讪开场白,把妹,把妹达人,约会,约会技巧,约会去哪里,恋爱高手,谈恋爱的技巧" %>
<% content_for :description, "来不了现场,请选择泡妞秘籍<专业约会指导教程>光盘,送泡妞书籍<指男针>.大陆第一部专业泡妞指导书.适合国内.学完加入泡妞QQ群,泡妞高手指导.你在苦苦寻找泡妞高手帮忙指导吗?你想尽快追到心仪的她吗?你还在各个泡妞论坛里面苦苦寻找泡妞秘籍吗?你想成为泡妞高手吗?请来泡妞学网,5年打造大陆第一专业泡妞追女约会恋爱指导网站.助你告别宅男,追到你的意中人." %>

<!--产品定位+产品名称+产品图片-->

<% if notice %>
	<div id="notice"><%= notice %></div>
<% end %>

<div id="menu">
	<ul>
		<li><a href="#youshi">八大优势</a></li>
		<li><a href="#jianzheng">学员见证</a></li>
		<li><a href="#nanti">约会难题</a></li>
		<li><a href="#daoshi">导师介绍</a></li>
		<li><a href="#jieshao">光盘介绍</a></li>
		<li><a href="#zhidao">售后指导</a></li>
		<li><a href="#jilu">购买记录</a></li>
		<li><a href="#daoban">举报盗版</a></li>
		<li><a href="#jiage">关于价格</a></li>	
		<li><a href="#faq">还有疑问?</a></li>	
	</ul>
</div>
<div class="box">
	<img src="/assets/liuchengtu.png" class="image_bottom" />
	<div class="header_left">
			<a href="http://item.taobao.com/item.htm?id=18619759534" target="_top">
				<img src="/assets/guangpan/guangpan.png" class="image_right_bottom" alt="专业约会指导教程" />
			</a>
			<a href="http://item.taobao.com/item.htm?id=18619759534"><img src="/assets/guangpan/lianjie_goumai.png" alt="专业约会指导教程购买链接" /></a>
			
			<h4>去官方店购买,现送<a href="/zhinanzhen"><指男针></a>书籍,群里还有位.没支付宝请联系QQ1341548835全国货到付款</h4>
	</div>
	
	
	<div class="header_right">
			<h1><<专业约会指导教程>>八大优势</h1>
			<h5>当然,你可以选择别人的产品,但是很难找到具有这些优势的:</h5>
			<p><span class="highlight">1.最早:</span>第一家现场约会培训机构,07年开始,培训6年,你遇到的问题我们学员都遇到过.我们最有经验!</p>
			<p><span class="highlight">2.最实战:</span>所有知识来自实战,请看<a href="/xianchang">现场实战培训</a>没有实战,就不可能有真正适合国内的方法,事实上.如果我们没法改变你.别人更难.</p>		
			<p><span class="highlight">3.最权威:</span>从07年开始,曾接受过深圳电视台, 新浪,腾讯,南方都市报等报道...请看栏目: <a href="/baodao">媒体报道</a> </p>
			<p><span class="highlight">4.最多用户,淘宝最热销:</span>6年, 学员1669人见证. 现场培训580人.查看<a href="http://rate.taobao.com/user-rate-67251a9edbf5bbb6f0847c1e24674035.htm">淘宝1669人购买记录</a>和学员<a href="#jianzheng">QQ旺旺聊天记录</a></p>
			<p><span class="highlight">5.最详细:</span>四大学习顺序,整个约会泡妞流程.你不再不知道从哪学起! 有些学员看网络上拼凑文字的伪秘籍,浪费五年时间,错过了自己的真命天女,又回到这里. <a href="#jieshao">课程介绍</a></p>		
			<p><span class="highlight">6.最有售后保障,学完光盘加入QQ群和网站:</span>不同的学员,不同的约会,需要不同的指导.有些网站出售泡妞秘籍给客户,就不管事了.他们没售后,因为他们只是随便拼凑一些泡妞方法.没法帮你.查看<a href="/asks">群交流咨询</a></p>
			<p><span class="highlight">7.最无风险:</span>光盘教程30天退款保障 - 现场教学无效当场退学费! 我们相信自己的产品! 查看<a href="#tuikuan">退款保障</a></p> 
			<p><span class="highlight">8.一次购买,终身免费:</span>后面所有的升级发到网站,只要你是学员,免费下载!不再收取任何费用.情感咨询一样终身免费.<p>
			<img src="/assets/arrow_down.png" />

	</div>

</div>	




<!--二级标签导航 层次与浏览-->






<div class="box">

	<a name="jianzheng" id="jianzheng"></a><h1>学员见证:无论你现在是什么样,都可以跟他们一样改变...</h1>
	
	<h5>
		"无论你是单身宅男,无论你的天生长相如何<br />
		无论你是否有钱, 你都可以像他们一样,<br />
		30小时内学会一套不可思议的约会泡妞秘籍.<br />
		仅用1个月的时间,就告别单身生活,<br />
		走入一遍美女的森林……<br />
		我们根据自身的经验，<br />
		任何一种技能只要肯花时间学习，而且方法对头的话，<br />
		都可以达到很不错的水平，很多时候会超出你的预期<br />
		我们坚信任何人都具有追女泡妞高手的潜力<br />
		很多人不是不行，只是不知道怎么去做"<br />
	</h5>
	
	
	
		
	<h3>学员在淘宝店铺旺旺上对泡妞秘籍<专业约会指导教程>的评价</h3>

	<img src="/assets/guangpan/pinglun/wangwang1.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/wangwang2.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/wangwang3.png" alt="" title="" />
	

	<h3>学员在苹果版旺旺上对泡妞秘籍<专业约会指导教程>的评价</h3>

	<img src="/assets/guangpan/pinglun/wangwang-mac1.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/wangwang-mac2.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/wangwang-mac3.png" alt="" title="" />
	
	<h3>学员在QQ(苹果版)对泡妞秘籍<专业约会指导教程>的评价</h3>

	<img src="/assets/guangpan/pinglun/qq1.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq2.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq3.png" alt="" title="" />
	
	<img src="/assets/guangpan/pinglun/qq4.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq5.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq6.png" alt="" title="" />
	
	<img src="/assets/guangpan/pinglun/qq7.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq8.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq9.png" alt="" title="" />
	
	<img src="/assets/guangpan/pinglun/qq10.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq11.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq12.png" alt="" title="" />
	
	<img src="/assets/guangpan/pinglun/qq13.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq14.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq15.png" alt="" title="" />
	<img src="/assets/guangpan/pinglun/qq16.png" alt="" title="" />
	


	<h3>学员在淘宝店铺购买后怎么评价?</h3>

	<img src="/assets/guangpan/pinglun/taobao.png" alt="" title="" />

	<h3>学员真诚反馈:</h3>
	<h3>西安交大许飞:大四还没谈过一次恋爱</h3>
	<p>“我今年上大四了,没谈过一次恋爱,身边的同学都有了女友,有些在外面同居起来了,可我还是一个人。 我在网上无意间进入这个网站,多年的刺激,让我下了决心,买了<专业约会指导教程>>.刚开始听到这些知识挺好奇的,后来试着跟女孩交往起来,感觉确实有效, 学完后在vip qq群里交流接受指导,今天我是刚从外面约会回来写这些的,因为我在这个月内已经与三个女孩搭上了感情,昨晚还亲了那个女孩子...谢谢这个团队给了我快乐的生活..."
	</p>
	<p class="align_right">——西安交大 许飞
	</p>



	<h3>上海王晓鹏:今年34还没谈过一次真恋爱</h3>
	<p>“我是一个大龄青年,今年34了还没谈过一次真正的恋爱…… 我是在一个交友网站看到这个信息的,刚开始跟寒江雪老师交流的时候,他说我太单纯了,需要对女孩有深度了解,再恋爱就不费力了.犹豫后,我买了<专业约会指导教程>,听了课程.看了寒江雪老师写的电子书. 里面的知识让我感觉确实受用,从开始我不知道怎么跟女孩子聊天,到现在变得这么幽默,有趣……,昨天开始我与我女友正式的住在了一起,真心对这个团队所有成员说声感谢,同时祝福所有的男孩们早日找到自己的幸福!"

	</p>
	<p class="align_right">————上海 王晓鹏
	</p>



	<h3>安徽王伟:早一点看到这套课程,新郎就是我..</h3>
	<p>“如果让我对这套课程做个评价,我只能说：“相见恨晚”.我最心爱的那个人快结婚了,可惜新郎不是我。其中的事情很复杂,也不想说…… 总而言之,就是我没留住她的心… 如果早一点看到这套课程,也许我就能留住她…… 就说这些吧,如果你是一个像我一样的苦男人,如果你还在为感情上的事烦恼,那么在你还没有酿成大错之前,我推荐你听一下这套课程,祝你好运、加油……"
	</p>
	<p class="align_right">————安徽 王伟
	</p>



	<h3>南京 史科委:我是一名白领,吸引女孩跟金钱关系不大.</h3>
	<p>“我是一名白领,每个月薪水、长相也可以。 但就是没漂亮女孩子对我感兴趣,所以一直单身。 可是很奇怪,我身边的那些收入还没我多、相貌没我好甚至有点野兽派的朋友,居然女朋友一换再换,而且一个比一个漂亮,最可恨的是居然有漂亮女孩子主动接近他们。 开始还很疑惑,以为天意如此。 可是听完 <专业约会指导教程>才明白。原来吸引女孩子跟长相、金钱是关系不大的。 真的懂了很多。不知道该怎么表达了,大恩不言谢,一如既往的支持这个团队"
	</p>
	<p class="align_right">——南京 史科委
	</p>

	<h3>青岛刘少兵:别想着有车有房再交女朋友</h3>
	<p>“我是研究生,但没什么出特别的成绩, 觉得现在女孩很名利,想等自己有车有房了再去交女朋友.现在发现这个想法真的是个错误,那些没车没房的都已经抱着美女归了.我在写字楼里经常遇见美女,无数次想对她说点什么认识她们,但每次没有勇气,我不知道说什么,有时候感觉很郁闷自卑！ 直到学完<专业约会指导教程>,我手机里的美女短信不断. 之所以有这么大的改变,首先是意识改变,其次是技巧提高.老师说的很对,首先要对女人心理有个了解,因为女孩都是感性的动物！ 一如既往的支持你们！"
	</p>
	<p class="align_right">———青岛 刘少兵
	</p>



	<h3>济南李庆:女孩喜欢"坏男人"鄙视"好男人"</h3>
	<p>“我可能是最早接触这个网站的一员,学习三个月以来,我见证了这个培训组织的成长,当然我本人也得到了群主很多的帮助。以前见了女孩,我每次都脸红,不知所措。现在经过这段时间的学习与实践,身边有好几个女孩死党呢,都不知道自己怎么就如此花心呢,上周在公园我有成功搭讪了一位美女,这几天一直请我吃饭呢。我也明白了为什么女孩都喜欢坏男人,而鄙视这些好好男人了.<专业约会指导教程>这套课程真的不错.比这更厉害的是会员群的价值,大家一定要珍惜,相信自己,相信老师"
	</p>
	<p class="align_right">——济南 李庆
	</p>


	<h3>北京网友冷霜:直接进攻女人的情绪!</h3>
	<p>“上周购买了<专业约会指导教程>的,从书里学到了很多的有用的技巧,特别是"如何做一个女人喜欢的坏男人",简直就是奇妙极了。老师说的对：绕开女人的理性思考,直接攻击她的情绪！ 现在我也开始搭讪美眉了,今天晚上一个美女还请我吃饭了呢？谢谢老师!"
	</p>
	<p class="align_right">——北京 冷霜
	</p>
  
	<h3>
		继续阅读,你是否遇到这些约会问题=>
	</h3>

</div>


<div class="box">
  <a name="nanti" id="nanti"></a><h1>约会难题:99%的宅男仍然在用错误的泡妞技巧</h1>
	<h5>你知道吗,你现在所知道的、追女孩子的技巧<br />
			99%都是错误的、无效的！！！<br />
			每个男人都拥有赢得女孩子青睐的“魅力基因”,<br />
			但为何漂亮女生宁愿去爱上那些对她并不怎么好、<br />
			甚至一无是处的“小混混”<br />
			也不会去喜欢你？<br />
			为何你到现在都还是孤单一人？！<br />
			那些泡妞高手究竟有什么高超的追女孩子的技巧呢？</h5>
	<h3>交往障碍</h3>
	<p>1.不懂得如何与陌生女孩子搭讪？</p>
	<p>2.一遇到漂亮女孩子就手心出汗舌头僵硬？</p>
	<p>3.暗恋最爱的”她”不知道如何去追,直到她叫别人“老公”才知道后悔？</p>
	<p>4.和女朋友谈了好几年,最后她却对你说“其实,我不爱你”？</p>
	<p>5.不知道如何洞察女孩子的心思？不知道如何在女孩子面前展示自己的魅力？</p>
	<p>6.不知道如何和女孩子身体接触？</p>
	<p>7.不知道如何洞察女孩子的心思？不知道如何在女孩子面前展示自己的魅力？</p>
	
	<h3>也许你...</h3>
	<p>1.你外表帅气、心底善良,却永远得不到漂亮女孩子的青睐。</p>
	<p>2.你收入一般、长相一般,但是那些条件还不如你的“猥琐男”却“妻妾成群”</p>
	<p>3.你用的一句最多的口头禅就是：“问世间情为何物”......</p>
	<p>4.你最好的朋友,整天约会不断,而你却只有嫉妒的份,微笑着诅咒他们。</p>
	<p>5.你具有将一台电脑化整为零,再化整为零的能力,却从来没搞定过女孩子。</p>
	<p>6.你时常无奈的感叹：女人心,海底针。</p>

	<h3>
		如果你选择继续看下去,那么接下来的事,很可能让你感到惊讶……
	</h3>

</div>


<div class="box">
	<a name="daoshi" id="daoshi"></a><h1>导师介绍:培训班导师介绍</h1>
	
	<h3>
		长相一般,没车没房的我<br/>
		邂逅约会了无数美媚<br/>
		你想立刻掌握实战约会方法吗?
	</h3>

	<img class="image_right_bottom" src="/assets/guangpan/hanjiangxue.png" title="寒江雪" alt="寒江雪" />	
	<p>我是寒江雪,中国最早开始研究搭讪及“约会泡妞”的人。</p>
	<p>我曾经也是个失败的宅男,长相一般、没车没房,在美女面前紧张到不敢说话,每天躲在游戏和网络里打发空虚和寂寞。忍无可忍之后,我决定做些什么开始改变。
	</p>
	<p>由于当时还没有这么系统的搭讪约会等教程,我到处找国内外文章和泡妞书籍,最后找到一群自称PUA的疯子和一大堆约会学理论和约会技巧。我花几年时间学习和练习这些约会技巧。街头,酒吧和约会场所常出现我的身影.
	</p>
	<p>在失败、彷徨和摸索之后,我终于认清了自己,战胜了自己,谈了不少女朋友,找到了自己最爱。现在我把自己的所有收获都写出来和说出来,希望可以帮到和我类似的宅男。现在,我的人生找到了更大的意义,我每个月在全国一些大城市带领助教现场培训.我过的很快乐,因为与女孩的交往是如此快乐的事情.
	</p>

	<p>从07年到现在,我培训了120多期改变了至少上千的宅男。</p>

	<p>所以,我有百分之200的信心,可以帮你在3个月内完全改变自己——你不需要有房有车有很多钱、你不需要谈过恋爱、你不需要一定大学毕业……</p>
	<p>且慢,在我正式揭开这套教程谜底之前,让我再来向你介绍另一位将帮助你的导师……</p>


	<h3>让美女教练告诉你真实的女孩想法?<br/>
		她们讨厌和喜欢什么样的男孩?<br/>
		什么是真正有效的追女方法?
	</h3>
	
	<img class="image_right_bottom" src="/assets/guangpan/gongzhu.png"  title="公主" alt="公主" />
	<p>	泡妞学的女教练”</p>
	<p>我曾经在日本留学,学过女性心理学,去过韩国,大陆大部分地方,阅历过无数的男人,包括有魅力的和没魅力的超级宅男.</p>

	<p>要追女孩,要知己知彼,如果你不了解女孩的心理,不明白女孩到底想要男人什么?喜欢什么样的男人,不妨让一个懂男人的女孩来告诉你女孩的心理.</p>
	<p>很多女孩也可以告诉你她们的心理,但我要告诉你,她们大多不会告诉你她们的真实想法.这是女性心底的一些小秘密.例如,你知道为什么女孩其实更喜欢那种"坏坏"的男孩吗?</p>
	<p>我不仅教男孩如何去追女孩,同时我也举办培训班教一些宅女怎么去应对虚伪的爱情.改变了无数的宅女,大家不要说我是个两面派哦.</p>


	<p>这次,和寒江雪大师一起录制了这个课程收藏在<专业约会指导教程>里面.我有百分之200的信心,改变你追女孩的错误方式.</p>
	<p>在我正式揭开这套泡妞秘籍谜底之前,让我再来向你介绍另一位将帮助你的导师……</p>


	<h3 class="clear">
		搭讪约会了无数台湾,韩国,日本美女<br/>
		代表作<<搭讪圣经>>风靡海峡两岸<br/>
		想知道有效搭讪美女的方法吗?
	</h3>

	<p>我是郑匡宇,<img class="image_right_bottom" src="/assets/guangpan/zhengkuangyu.png"  title="郑匡宇" alt="郑匡宇" />
	台湾搭讪教主,在最近的几年里,我迷上了搭讪,写了不少搭讪的作品,比如风靡台湾和大陆的<搭讪圣经>……在短短的几年里,搭讪成功了几百位高分正妹,其中不少是气质和美女并存的模特.！
	</p>
	<p>很多人觉得没法认识美女,不知道身边的朋友的美女朋友哪里找来的,其实生活中到处都是认识美女的地方,商场,街头,校园,图书馆,餐厅.前提是你要学会怎么搭讪这些美女.
	</p>
	<p>我在台湾创办了搭讪培训班,这次被泡妞学网邀请,和他们一起录制了搭讪课程.就是教你怎么搭讪.</p>
	<p>我已经帮助了上千名宅男通过搭讪找到了女朋友……
	</p>
		
	<h3 class="clear">更多老师</h3>
	<p>最近,泡妞学团队已经扩大,新增了更多导师,男人形象设计讲师Barry。女性心理讲师面具,和女孩聊天技巧讲师Mike等.
	我们的使命就是把追女约会技巧推向全国,帮助一代又一代的宅男改变自身.
	</p>
	
</div>



<div class="box">
	<a name="jieshao" id="jieshao"></a><h1>中国约会恋爱泡妞界最实战的光盘教程</h1>
		<img src="/assets/liuchengtu.png" />
	
	  <h5>

	   		面对陌生女性,轻松的让她对你产生心动的感觉！<br />
	   		巧妙的接触女人的心理抗拒,让她对你欲罢不能!<br />
	   		变身磁铁,让她对你产生强烈的“渴望”！<br />
	   		如何看懂女人的肢体语言,瞬间看穿她的真实心理！<br />
	   		设计绝妙的“调情语言”快速打动她！  <br />
	   		让你成为“风靡”女性的魅力男人！<br />
 			  高超的追女孩的技巧掌握在您的手中！  <br />
	   		我们坚信如果你愿意仔细学习和实践教程所有的方法和策略,<br />
	   		你的生活将从此改变,<br />
	   		你会让你身边所有的人都嫉妒你.<br />
	   		你不是不行<br />
	   		你只是没有人教你怎么去做!<br />
	  </h5>
		
  	<h3>系统课程 - 12.30小时 </h3>

    <p>
		系统课程是一个整个恋爱的流程,　从认识女孩到邀约女孩,　牵手接吻等进挪,　调情诱惑...　<br />
		在系统课程里,　你将学到:
		</p>
   	<p>不认识美女？你将在短短2小时内学会认识美女的五种方式!</p>
	<p>不知道怎么邀约？你将从中掌握女孩都都想不到的邀约方法!</p>
	<p>不知道约会去哪里说什么做什么？系统课程告诉你最的详细的约会说什么做什么！</p>
	<p>不知道牵手时机和何时吻别?系统告诉你最合适的进挪方法和亲吻时机！</p>
	<p>不会调情诱惑？系统课程教你最具颠覆式的调情和诱惑技巧!</p>
	<p>总是被女孩以"好人"或者"当朋友"拒绝你,系统课程教你如何从一个总被拒绝的好男人到人见人爱的坏男人!</p>
	<p>还在猜测女孩什么意思?,系统课程教你彻底了解女孩心理,做到知己知彼!</p>	  									
   	<p>你将在里面学会很多很多,甚至包括"如何低成本泡妞"....</p>
   	<p>通过学习和实践此部分,展示个性魅力,让她疯狂的迷恋上你！面对陌生女性,轻松的让她对你产生心动的感觉！</p>
 	
  	<h3>专业课程 - 10.30小时 </h3>
	<p>在我们专业泡妞培训4年中,了解到很多学员在一些专门技巧方面的欠缺, 所以, 特别开发了专业课程,解决这些问题.
	</p>
	<p>在专业课程里,　你将学到:</p>
 	<p>你是否和女孩聊天不知道说什么, 专业课程会让你聊天变得生动有趣</p>
 	<p>发展到最后阶段了,不知道如何调情,专业课程会让你成为调情大师</p>
 	<p>还有学员一直比较害羞,心理素质不过关,专业课程会教你如何具备追女的心理素质</p>
 	<p>想了解泡妞高手的故事,专业课程会让你了解泡妞高手是如何炼成的</p>
 	<p>好人修电脑,坏人床上搞.专业课程教你如何当情人而不是好人</p>
 	<p>想去酒吧寻找点刺激, 专业课程会让你成为酒吧泡妞大师</p>
   	<p>你会在里面学会很多很多专门的约会技巧....</p>
  	 	

  	<h3>培训班美女和高手访谈 - 7小时 </h3>
   	<p>想知道美女如何看待宅男这个问题的吗? 想知道泡妞高手平时的生活吗?
   	在三年的时间里,我们认识了无数的美女和泡妞高手,有些甚至后来加入培训成为教练,接受了我们的采访
   	</p>
   	<p>在这给第三部分,　你将学到:</p>
	<p>美女是如何看宅男,好男人,和坏男人的.</p>
	<p>台湾搭讪教主教你如何搭讪约会...</p>
	<p>街头搭讪高手教你如何在街头搭讪...</p>
	<p>甚至一些天生泡妞高手的秘密访谈...</p>
	<p>甚至,还有宅男的访谈...</p>
   	<p>最终,宅男通过学习,也改变了自身.</p>


  	<h3>学习顺序4 - 更多资源 </h3>
    <p>这个部分,我们收集和推荐了一些资源, 学完前三个部分就可以加入群. 此部分供大家在闲暇的时候慢慢看.包括一些专业泡妞的精华电子书,泡妞节目.甚至一些特殊的训练(保密)</p>
   	<p>如果你有充足的时间去学习这些,你获得的不仅仅是改变和提升,而是飞跃和专业...</p>
   	   	
    <h3>出手够快,还有赠送大陆第一部专业约会泡妞书籍:<指男针>,100本送完为止.</h3>
    <p>在国内还没有谁系统整理泡妞理论的时候,国内pua先驱长老岸写了第一本国内专业约会泡妞书籍,老岸有十几年的海内外实战经历，这也是笔者接触到的第一本国内专业泡妞书籍, 最适合国内国情. 当时对笔者触动很大.心理建设篇写的尤佳，如何从“内”提高自己，怎么面对拒绝和冷淡，成为女人喜欢的“坏”男人，其中心理建设篇的第8章“成为女人喜欢的坏男人”.彻底改变了许多人以前老套的泡妞观念。对笔者有很大的转变。必看！										
    </p>
	<p><指男针>这本书籍在国内的各大书店以及当当网等网上书籍都没有发售. 很难买到.我们现在也只有100套,送完为止. </p>    
    <img src="/assets/guangpan/zhinanzhen.png" alt="指男针" title="指男针" />
    
    <p>关于泡妞书籍,我们一般不推荐很多,很多网上写泡妞书籍的作者很可能没有真正去实践,只是在整理文档.构造出很多零散的理论, 让不少读者走火入魔,不知到底从哪学起. 约会泡妞是个实践的活动,听30小时教程,跟大师系统学习下,然后实践,没必要花几个月去研究书籍理论,书籍只能做为理论补充实践后再去翻翻.等把书籍研究完了,缘分也跟别人走了.我们主张听培训光盘，不仅仅是学习的周期更短, 更重要的是这些东西来自于现场培训的实践,经过检验的行之有效的.并且系统化, 更容易学习. 事实上,我们只要求大家学完光盘,然后实践, 实践中有问题来群内交流指导.
   	</p>   	

   	<h3>当你学会,让她疯狂的迷恋上你！</h3>
 
</div>
				

<div class="box">
	<a name="zhidao" id="zhidao"></a>	<h1>约会指导</h1>
	<h3>怎么获得约会指导?请先购买光盘学完后加入群和网站</h3>
	<img src="/assets/zhidao/header_qun_bg.png" alt="" title="" />
	<h3>泡妞QQ单独指导截图（苹果系统版本）</h3>
	<img src="/assets/zhidao/dange1.png" alt="" title="" />
	<img src="/assets/zhidao/dange2.png" alt="" title="" />
	
	<h3>泡妞QQ群内交流和指导截图(苹果系统版本)</h3>
	<img src="/assets/zhidao/qun1.png" alt="" />
	<img src="/assets/zhidao/qun2.png" alt="" />
	

	
</div>




<div class="box">
	<a name="jilu" id="jilu"></a><h1>最近淘宝官方店铺订单</h1>
	<img src="/assets/guangpan/jilu.png" alt="" title="" />

	<h3>售后服务截图:以下是学员收到的盘损坏,免费重新邮寄.</h3>
	<img src="/assets/zhidao/fuwu1.png" alt="" />
</div>



<div class="box">
	<a name="daoban" id="baoban"></a><h1>举报盗版</h1>
	<h3>举报盗版联系QQ：1341548835</h3>
	<p>我们除了网站,现场培训机构已经在深圳工商局注册.如果您在其他网站发现了类似的课程,那么,一定是非法盗用的, 盗版必究!我们已经向深圳福田公安机关网络部举报了备案号为粤ICP备08004188号)和备案号:豫ICP备10021674号的网站。欢迎更多举报!
	</p>

	<h3>如何区分盗版？</h3>
	<h3>是否有现场培训?</h3>
	<p>盗版网站贩卖者很可能自己都是宅男, 无现场培训,我们网站栏目有现场培训班,包括搭讪约会培训班,酒吧夜店培训班等, 以后会开展更多培训. 请查看<a href="/courses">现场培训</a>
	</p>
	<h3>是否提供咨询指导服务?</h3>
	<p>盗版网站贩卖者很可能只是做盗版销售的.没有能力给客户提供QQ群咨询指导。请客户学习完光盘后加入群。 请根据培训班规定,学完光盘之后加入群. 为了保证服务质量, 不能加太多人. 请赶紧先学习. 查看<a href="/asks">QQ群内交流指导</a>
	</p>
	
	<h3>能否提供更新?</h3>
	<p>盗版者自己不能录制音频,内容不能及时更新,不能把更新录音发到群里给大家下载. 
	</p>
	
	<h3>能否赠送纸质书籍?</h3>
	<img src="/assets/guangpan/zhinanzhen.png" alt="指男针" title="指男针" />
	<p>盗版者无法赠送纸质书籍, 我们赠送的书籍<指男针>, 大陆一本专业约会泡妞培训, 最适合国内国情. 最后100本. 
	</p>
	
	<h3>请广大客户不要上盗版的当!</h3>
	<p>盗版, 丢失做人的尊严! 有些人买了盗版最后又回到这里买原版. 只会浪费大家的宝贵时间和金钱,最后错过缘分.</p>
	
</div>


<div class="box">
	<a name="jiage" id="jiage"></a><h1>关于价格</h1>
	<h3>现场培训总价格8400元,<专业约会指导教程>om:全国统一价格:198元</h3>
	<p>如果你来现场, 学搭讪约会3600元,学会酒吧泡妞3600元,以及话术1200元, 需要花费8400元</p>
	<p>当然我们的教程不会定价8400,你只需要198元,即可学到</p>
	<h3>
		免费快递,100本泡妞书籍<指男针>送完位置,目前群内还有位!<br />
	</h3>
	
	<p>如果你有支付宝,请到这里购买:</p>
	<a href="http://item.taobao.com/item.htm?id=18619759534" target="_top">
		<img src="/assets/guangpan/guangpan.png" alt="" title="" />
	</a>
	<p>如果没有支付宝,全国货到付款</p>
	<p>联系QQ:1341548835发送地址姓名号码,货到付款</p>
	
	<h3 class="clear">现在购买,还有纸质书籍赠送</h3>
	<img src="/assets/guangpan/zhinanzhen.png" alt="指男针" title="指男针" />
	
		
	<h3 class="clear">现在购买,vip QQ群里还有位置加入</h3>
	<img class="image_right_bottom" src="/assets/guangpan/qun.png" alt="泡妞qq群" title="泡妞qq群" />
	
	<p>我们并不会像别的泡妞网站把教程卖给大家就不管了.因为很多学员在学习或实践过程中. 会遇到一些个别的问题. 需要老师帮助. 此外,他们也想与周围人分享. 所以,我们建立了自己的vip QQ交流群. 但是,首先,请学完光盘前三个顺序,然后加入群, 多实践,遇到问题来群内和大家交流,或咨询管理员.
	</p>
	<p>这样, 我们才能真正对自己的学员负责.</p>
	<p>并针对更多的学员问题, 录制更多的音频, 免费发到群邮件给大家以后升级下载.</p>

	<h3 class="clear">如果你还是觉得有些贵,请看下面:</h3>
	<p>说句实话,亲眼见过不少人,请女孩吃饭唱歌买礼物,每次花几百,任何一个陷阱都会让你付出高昂的代价,最后手都没牵到,那才是真正浪费钱,追女泡妞前投资自己大脑是第一步,后面能为你省下不少钱,早学少花钱.</p>
	
	<h3>课程里面会教你"低成本追女孩",不用再去当"钱袋"</h3>
	<p>课程里面有专门教你怎么低成本泡妞的,你学了,能省下一大笔钱,因为我们都是过来人,以前浪费了不少钱,更重要的是花了还没结果, 慢慢女人会把这种人当作凯子和钱袋.</p>
	
	<h3>盲目相亲请花钱</h3>
	<p>与其盲目的探索,相亲和乱花钱,为什么不系统的学习行之有效的方法呢?</p>

	<h3>青春不等人, 几年后,你再回想今天,这些钱值!</h3>
	<p>
		早学早泡,不要等到家里逼得相亲的时候才学这个,培训班不少现场学员就这样,那个时候的确有点晚了,人生中的精华时段没有泡到妞,不值,给自己一个机会
	</p>
	
	<a name="tuikuan" id="tuikuan"></a><h3>无效30天100%退款-零风险承诺!</h3>
	<p>我知道,你还在担心可能的风险……<br />
		所以,我要给你一个最顶级的保险
	</p>
	
	<img src="assets/tuikuan.png"  alt="现场当场退款保障" title="现场当场退款保障" />
	<h3>我们承诺,因为我们敢于负责!</h3>
	<p>在国内,还没有哪家培训机构敢做出这样的保证!我们敢!因为我们相信自己的产品,我们敢于为自己的产品负责!</p>

	<h3>商业建立在诚信上.</h3>
	<p>当然你会想,如果客户学完了要求退款怎么办?我们的服务,只赚君子的钱,不赚小人钱.真正的商业建立在互相信任之上.</p>

	<h3>如果不能帮到你, 我们没理由收费</h3>
	<p>你相信我们,才给我们一次证明自己产品的机会.如果我们的课程的确没法帮助你,我们也没有理由收客户的费用.</p>
	<p>我们最大限度保证学员的利益！</p>
</div>


<div class="box">
	
	<h1>买家常见问题列表</h1>
	
	<p>在做泡妞指导咨询的5年时间里,不少学员问这些常见的怎么学习泡妞问题,笼统的,比如怎么学习泡妞?特别的,怎么接吻?前卫主动的,如何学习搭讪?这些问题将列在下面的常见学习泡妞问题列表里面.注意:这个问题不是教你怎么泡妞,而是解除你的一些疑虑.尽快追到自己喜欢的女孩.</p>
	<h3>(1)怎么学习泡妞?</h3>
	<p> 当然,做泡妞指导的, 问到最多的问题就是怎么学习泡妞？我也知道很多人很想学习泡妞? 作为一个正常的男人，金钱和美女都是两个永恒的话题．泡妞一样要学。在任何行业，要想变得优秀，就得向那个行业的大师学习，跟高手学习可以省去自己很多摸索的时间，生活中很多缘分，等你摸索到了，缘分早已不在了。。。
	<p>如果你有一群擅长和女人交往的男朋友，对你的帮助是巨大而直接的，</p>
	<p>（1）他传染给你自信。很多事情，我们看到别人做了以后就感慨“原来真的可能！”“原来就是这么简单。”然后就相信自己也可以做到。</p>
	<p>（2）他可以传授你经验和方法。一个人摸索一个月才明白的东西，可能别人一句话就告诉你了。</p>
	<p>（3）在关键时刻，他会给你很好的建议。想象你不知道该如何吻一个女孩，他告诉你几招实用的小贴士。</p>
	<p>（4）他有很多女朋友，他的女朋友会介绍女朋友给你认识。</p>
	<p>当然,物以类聚,人以群分,宅男身边还是宅男,所以我们的出现就是为了解决这个问题.我们充当你的导师,在你实践中遇到问题的时候,给你指导和建议.</p>

	<h3>(2)价格可以少吗?</h3>
	<p>首先，这是一个组织，统一了的．全国统一价格，不会随便定价</p>
	<p>关于价格,说句实话,亲眼见过不少男人,请女孩吃饭唱歌, 送女孩礼物, 每次花几百,任何一个陷阱都会让你付出高昂的代价,最后手都没牵到,那才是真正浪费钱,追女泡妞前系统学习正确方法是第一步,后面能为你省下不少钱,早学早泡,早学少花钱,不要浪费青春</p>
	<p>何况课程里面有专门教你怎么低成本泡妞的,你学了,自然能省下一大笔钱,因为我们都是过来人,以前浪费了不少钱，更重要的是花了还没结果, 慢慢女人会把这种人当作凯子.</p>
	<p>与其盲目的探索,相亲和乱花钱,不如先系统的学习一下.然后再去实践.</p>
	<p>198在深圳不够一次约会，但是很多人没学过课程，花费上千，手没牵到，那才是悲哀，泡妞前投资学习是聪明的</p>
	
	
	<h3>(3)我刚买了.但是没学习,能加入群吗?</h3>
	<p>请根据规定来,大家都一样,学完光盘前三个学习顺序然后加入群. 需要先有点基础. 第4个顺序可以先不学. 跟着我们步骤来. 只有好处. 放心</p>
	<p>会为一切在学习的学员保留位置的,放心</p>
	
	
	<h3>(4)我没学光盘,能来现场吗?</h3>
	<p>建议先学光盘, 现场有实践活动。你最好有一定的基础,否则难以在现场开展活动, 来现场前先学习完我们的光盘课程，，从认识到约会到调情到诱惑。。。打下基础好在现场实践互动</p>
	<p>此外，学完光盘后参加现场能优惠300-400元(根据不同课程)</p>
	
	<h3>(5)现场有什么不一样</h3>
	<p>现场培训强调实战!实战还是实战!实战!注重体验和实战。这里是实实在在的大街，这里有看得见闻得到的美女。</p>
	<p></p>
	
	<h3>(6)我为什么要相信你们,也不知道你们的效果.</h3>
	<p>商业建立在诚信上, 如果互相不信任, 没必要交易. 你可以自己去看看已经买了的学员的评论. 效果好不好，我说好也不一定相信， 去看看学了怎么说。卖了1600多个了，购买后的学员评论链接：http://rate.taobao.com/user-rate-67251a9edbf5bbb6f0847c1e24674035.htm 然后再咨询.</p>
	
	<h3>(7)网上到处有免费的泡妞秘籍,有免费的电子书,我为什么要学习你们的教程?</h3>
	<p>首先,如果你热爱免费,热爱盗版,你真的没必要咨询我.</p>
	<p>我只想说,来现场培训的学员有人看10年电子书还会是个处男, 浪费青春.来现场培训最大的都45岁了还没找到男朋友. 没必要折磨自己. 这是一个系统的课程. 四个顺序, 从头到尾整个约会泡妞流程. </p>
	<p>我们不是卖给你不管了.在你学完实践的过程中,给你提供指导.终身免费.</p>
	
	<h3>(8)我认识一个女孩XX年了.最近她抛弃了我,我想....</h3>
	<p>说实话,我最怕遇到这种消极的人,如鲁迅笔下的祥林嫂.如果你不去通过学习改变和行动自己,我实在不能建议你做什么</p>
	<p>这些还是到群里和管理员大师以及群内兄弟分享吧.我只是建议一句,不要浪费青春,趁现在还年轻提高技巧,改变观念,以后的美女还有很多,如果不去学,浪费了大好年龄.</p>
	
	<h3>(9)学习你们的光盘和书籍，能达到预期的水平吗？</h3>
	<p>我们根据自身的经验，任何一种技能只要肯花时间学习，而且方法对头的话，都可以达到很不错的水平，很多时候会超出你的预期。</p>
	<p>我们坚信任何人都具有追女泡妞高手的潜力，很多人不是不行，只是不知道怎么去做！</p>
	
	<h3>(10)怎么推进和女孩之间的关系?</h3>
	<p>学习顺序2里面的第二节:.如何进入第三阶段-调情与诱惑</p>
	<p>你遇到的问题光盘基本能解决，学完后，没有的到群里咨询管理员。放心</p>
	
	<h3>(11)怎么和女孩聊天?</h3>
	<p>听光盘学习顺序2里面的第一节: 1.如何跟女孩聊天和光盘学习顺序4里面的话术惯例库. </p>
	
	<h3>(12)怎么认识女孩?</h3>
	<p>学习光盘学习顺序1第一节,里面有认识女孩的五种方式</p>
	
	
	
	<h3>(13)你们如何包装的？我不想让别人看到里面是什么？</h3>
	<p>卖了很多了. 有经验的，密封不透明，不写货品名字. 放心</p>
	<p>说实话，这种心态要改下，男人追女孩是天经地义的．没什么看到不好意思的．保持这种心态的人最终能成pua(泡妞高手)</p>

		
		
	<h3>(14)你们为什么做这个事业?并且坚持5年不放弃?</h3>
	<p>其实大家经历过的这些问题,培训班的不少老师,也曾经经历过.老师里面天生的泡妞高手很少的.我们明白作为宅男的痛苦,看着别人一个个拥着自己喜欢的女朋友参加聚会, 我们知道你想什么, 想尽力帮助需要的人改变自己．</p>
	
	<h3>(15)为什么网上有那么多免费论坛和资料.你们却要收费?</h3>
	<p>首先，每个公司的理念不一样，我们不想做那种通过免费的方式来达到最多用户量的公司，我们只想做精品，帮助那些真正想学习的人．</p>
	<p>其次，我们是全职在做，把这当作一种事业．而不是业余随便弄个网站，然后搜集一些盗版资料放上面，靠到处贴广告，靠用户去点击广告赚钱</p>
	<p>也有人说,我们为了赚钱．任何工作，如果没有金钱的回报，都难以坚持下去．你看看自己从事的工作，如果老板不给你发工作你能坚持下去吗? 就如智能手机里面的iphone,如果没有利润,那些工程师还能保持创新吗?每个人都希望自己的工作得到认可，金钱的回报也是任何的一种方式．</p>
	<p>没有回报，我们也没法生活，没法实践，也就没法把实践中经验传授给学员</p>
	<p>但是我们的使命不是金钱．我们的使命就是把追女泡妞学推向全国，帮助一代又一代的宅男改变自身</p>
	
	<h3>(16)网上骗子太多,我怎么相信你</h3>
	<p>首先,我表示同情,你肯定曾经被骗过</p>
	<p>其次,你可以端正心态,并不是网上所有的人都是这样,相信坏人只是少数.大部分是正义的.</p>
	<p>如果担心,没关系.可以查看已经学了的学员的评论,以及总销量,历史购买记录</p>
	<p>但是在我5年的咨询中,这些人最终还是怀疑太重而错过学习机会.</p>
	<p>你是到底想追美女么</p>
	<p>你是到底想学习泡妞么</p>
	<p>想不想找个美女</p>
	<p>这是核心的问题</p>
	<p>你先问自己</p>
	<p>只有你自己想,我们才能帮助你</p>
	<p>如果你自己不想,我们没法帮助你</p>
	<p>老是一种怀疑的态度,想学也很难学好的.</p>
	
	<h3>(17)我已经学完了你们的教程,但是效果还不是很好.</h3>
	<p>不要弄的太复杂. 泡妞不是高科技, 学完光盘直接实践. 多约会几次就会了</p>
	<p>重要的是实践!</p>
	<p>心态很重要! 把握重点. 重点不是书籍. 是到外面去</p>
	<p>听完后赶紧实践吧</p>
	<p>即使背下来,不实践还是不行的.</p>
	<p>把书籍和光盘堆在床上，妞肯定不会飞到床上来</p>
	
	<h3>(18)如果光驱打不开不了光盘,怎么办</h3>
	<p>我们一般会在发货前侧是光盘的.首先让我们寻找原因,可以换个光驱试试,也可以用光驱打开别的盘试试,如果还是不行,那么盘有可能在邮寄中被快递损坏了.你不需要承担任何费用,我们重新免费发一张给你.</p>
	<p>恭喜你中奖了!发了1600多张了, 只有3张有问题. 我们都免费重新发了, 请放心.</p>
	
	<h3>(19)我每天要加班,我没时间去约会,能学好吗?</h3>
	<p>抱歉，如果你是这种情况．实在没办法帮助你，你首先需要改变自己的工作条件,然后再学习. </p>
	<p>不出去约会不是很难学会,而是你学了也是浪费时间,因为你不能出去约会学了有什么用呢</p>
	<p>自习审查自己是真的没有时间吗?</p>
	<p>其实每个人每天都只有24小时, 主要看你是否把泡妞放在第几位? 高手之所以为高手, 是因为在这方面付出了很多的时间</p>
	
	<h3>(20)你们能保证学了后可以追到任何女孩吗</h3>
	<p>不能保证。如果你现在去泡章子怡，肯定没希望</p>
	<p>你需要最自己的环境,自己的层次有一个清醒的定位. 如海洋一样,不同的动物有不同的水层,在自己的水层或顶多周围的水层觅食. 吃蜉蝣生物的的硬要跑到水底去觅食, 不是说不可能,只是概率不大.</p>
	<p>追到和你差不多，甚至比你好的没问题。</p>
	<p>另外，学了后多实践.把光盘和书籍放到床上，妞肯定不会飞到床上来</p>
	<p>希望你能明白</p>
	<p>实践中遇到问题群内讨论,或咨询导师</p>
	
	<h3>(21)我不想学习,只想让你们指导可以吗?</h3>	
	<p>抱歉,不可以</p>
	<p>如果没学，咨询的时候，老师提到某个技巧，你没法理解没法听懂。</p>
	<p>我们可以免费提供咨询指导,前提是你要先学习我们的教程,如果你自己没有学习,即使告诉你怎么做,在根本上还是改变不了你的状态,即使追到了最后也会失去.</p>
	
	<h3>(22)我性格内向,可以学好吗?</h3>
	<p>如果我说性格内向比外向者更受女孩欢迎,我就是在骗你.据调查,只有10%左右的女孩倾向像个内向者.</p>
	<p>如果你在性格这点上有缺陷, 就要稍微花点时间努力弥补下, 有一点可能很多人都忽略了，那就是不管你自身的天赋高还是低，有些事情你还是要去做的。长得丑的人就不找女朋友了么，天生害羞就不找老婆了么？所以对于这个问题不需要想太多，努力改变自己做到自己最好就可以了.
	</p>
	<p>课程学习顺序2里面的第三节:3.如何具备追女的心理素质可以对你有帮助</p>
	
</div>




<div class="box">
	
	<h1>网站最近更新</h1>
	<div class="latest_message_4 latest_resources">
		<h2>最近泡妞资源分享</h2>
		<ul>
			<% @resources.each do |resource| %>
			
				<li><%= image_tag resource.category.avatar.url(:thumb) %><%= link_to resource.title, resource %><br /></li>
			<% end %>				
		</ul>
	</div>

	
	<div class="latest_message_4">
		<h2>泡妞学班级最近提问</h2>
		<ul>
			<% @topics.each do |topic| %>
				<li><%= link_to topic.title, topic %><br /></li>
			<% end %>				
		</ul>
	</div>

	<div class="latest_message_4">
		<h2>最近发布泡妞学惯例</h2>
		<ul>
			<% @notes.each do |note| %>
				<li><%= link_to note.title, note %><br /></li>
			<% end %>				
		</ul>
	</div>

	
	<div class="latest_message_4">
		<h2>最近发布泡妞学文章</h2>
		<ul>
			<% @articles.each do |article| %>
				<li><%= link_to article.title, article %><br /></li>
			<% end %>				
		</ul>
	</div>

</div>

