<% content_for :title,"pua课程网现场培训介绍-大陆第一家现场泡妞约会培训" %>
<% content_for :keywords,"pua课程网" %>
<% content_for :description,"pua课程网,5年来,帮助上千宅男告别单身,欢迎来现场参加培训,在深圳,广州,上海,北京不定期开设搭讪约会课程,讲授搭讪技巧,约会技巧,以及酒吧夜店泡妞课程,教你展示自身价值.约会话术课程,教你追女孩子的话." %>

<!--产品定位+产品名称+产品图片-->




<div class="row">          
	 		<div class="span12">      
				<% if notice %>
					<div class="alert">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
					  <%= notice %>
					</div>
				<% end %>


				<%= link_to '+ 创建活动', new_event_path,  :class => "btn btn-success pull-left" %>
				<br />                
				<br />       
		 		<ul class="ie6-label clearfix" >
				<% @cities.each do |city| %>
					<li class="label label-info">
						<%= link_to city.city+"("+city.count.to_s+")", events_path(:city => city.city) %>
					</li>
				<% end %>        
				</ul>       
				<%= paginate @events %>  
			
				
				<table id="events" class="table table-striped table-bordered table-hover table-condensed">
					<thead>
				  <tr>
				    <th class="name">课名</th>
				    <th class="category">类型</th>

				    <th class="date">开始</th>
				    <th class="date">结束</th>
				    <th class="holiday">假期</th>

				    <th class="city">城市</th>
				    <th class="teacher">讲师</th>

				    <th class="digit">名额</th>
				    <th class="digit">已报</th>

				    <th class="digit">学费</th>
				    <th class="digit">优惠</th>
				    <th class="discount_requirement">优惠条件</th>
				    <th class="digit">定金</th>
						<th class="remain_days">倒计时</th>
				  </tr>
					</thead>
					<tbody>
					<% @events.each do |event| %>
	
					 <tr class=<%= "success" if (event.start_at.to_date - Date.current).to_i > 0 %>>
				    <td><%= event.name %></td>
						<td><%= event.category %></td>

				    <td><%= event.start_at.strftime("%Y-%m-%d %H:%M")  %></td>
				    <td><%= event.end_at.strftime("%Y-%m-%d %H:%M") %></td>
				    <td><%= event.holiday %></td>

				    <td><%= event.city %></td>
				    <td><%= event.teacher %></td>

				    <td><%= event.top_number %></td>
				    <td><%= event.now_number %></td>

				    <td><%= event.cost %></td>
				    <td><%= event.discount %></td>
				    <td><%= event.discount_requirement %></td>
				    <td><%= event.deposite %></td>

						<td>
							<%= event.remain_days %>

							<% if can_delete?(event) %>
						    <%= link_to '#', edit_event_path(event) %>
						    <%= link_to '-', event, :data => { :confirm => '确定删除' }, method: :delete %>
						  <% end %>
						</td>

				  </tr>
				<% end %>
				</table>		
			</div>
			
	
</div>


	


<div class="row">	
	<div class="span12">
		<a name="laoshi" id="laoshi"></a><h1>现场老师</h1>
	
		<img src="/assets/xianchang/header_events_bg.png" alt="寒江雪超级约会学" />
	</div>
</div>

<div class="row">
	<div class="span12">
	<a name="photos" id="photos"></a><h1>现场图片集锦</h1>
	<h3>《搭讪约会集训营》室内上课和聚餐</h3>
		<img class="image_right_bottom" src="/assets/xianchang/photos/dashan-shinei1.png" alt="寒江雪超级约会学-1" />
		<img class="image_right_bottom" src="/assets/xianchang/photos/dashan-shinei2.png" alt="寒江雪超级约会学-2" />
		<img class="image_right_bottom" src="/assets/xianchang/photos/dashan-shinei3.png" alt="寒江雪超级约会学-3" />
		<img class="image_right_bottom" src="/assets/xianchang/photos/dashan-shinei4.png" alt="寒江雪超级约会学-4" />
		<img class="image_right_bottom" src="/assets/xianchang/photos/dashan-shinei5.png" alt="寒江雪超级约会学-5" />
		
	<h3>寒江雪等教练带队街头搭讪</h3>
		<img class="image_right_bottom" src="/assets/xianchang/photos/dashan-shijian.png" alt="寒江雪等教练带队街头搭讪" />
	
	
	<h3>酒吧夜店室内上课</h3>
		<img src="/assets/xianchang/photos/jiuba-shinei1.png" alt="酒吧夜店室内上课-1" />
		<img src="/assets/xianchang/photos/jiuba-shinei2.png" alt="酒吧夜店室内上课-2" />
	
	<h3>酒吧泡妞实践</h3>
		<img src="/assets/xianchang/photos/jiuba-shijian.png" alt="酒吧泡妞实践" />
	</div>
</div>


<div class="row">
	<div class="span12">
	<a name="sanpei" id="sanpei"></a><h1>"三陪"计划</h1>
	<h5>成立迄今为止，推出的最史无前例、不可思议的活动计划!<br />
	真正的三陪式服务，哪三陪？<br />
	培训、陪伴、赔钱 </br />
	这就是——</h5>
	
	<h3>什么是三陪计划？</h3>
	<p>简单来说，就是训练你成为一个魅力男人。具体的训练方式是在商场、街道、酒吧等场所现场练习社交与沟通技巧，让你在真实的社交环境中学习自信、魅力与快乐。</p>

	<h3>为什么叫三陪计划？</h3>
	<p>因为这是一个三天三夜的活动，因为这是一个培训、陪伴、赔钱的计划。</p>

	<h3>三陪计划的具体内容是什么？</h3>
	<p>三天三夜的时间里，以实践为主，配合少量的理论教学。<br />
		第一天，上午讲3个小时的理论内容，无所不包的理论课，从街搭到夜场，从认识到约会，从技巧到心态，从形象到话术。下午街搭活动，晚上夜场活动。<br />
		第二天，街搭和夜场。<br />
		第三天，街搭和夜场。<br />
	</p>

	<h3>下面这个表格，课程安排一目了然</h3>
	<img class="image_right_bottom" src="/assets/xianchang/kechengshijian.png"  alt="" title="" />
	<h3>三陪计划和以往的活动的区别是什么？</h3>
	<p>（1） 实践性强。基本只有实践，没有那么多理论废话。现场是真实的，现场是残酷的，只有在现场，你才能学到最实用的东西。也只有行动，才能让你有最多的体验，最大的改变。<br />
		（2）  密集。三天三夜的时间，让你充分燃烧起来。我们参与一个活动，从大脑到身体都有一个热起来的过程，一个下午的搭讪活动或一个晚上的夜场活动，刚咂摸出点味儿来，活动结束了。等回家去，刚燃烧起来的激情又凉了。<br />
		（3）  累。会把你累趴下，做好思想准备。 <br />
		（4）人数少。小班小组小活动，上限4个人，4个人去酒吧刚好够凑一桌，4个人去商场搭讪不那么明显。 人少，你就能得到老师更多贴身指导。<br />
		（5）陪伴式成长。什么是陪伴式成长？简单来说，不是课程结束就完了。我们持续地跟进你的学习和练习，持续地关注你的进步与变化，持续地指导与教练，持续地解决你遇到的新问题。超约是你一辈子的家。 <br />
		（6）价钱实惠。以前2天的纯理论课，收费就要3000元以上，现在三天的纯实践课，收费才3000元！并且其中已经包含你1000元的酒水费。这个帐，你自己算吧。 <br />
		（7）赠品多。怎么个多法？往下看！
	</p>


	<h3>丰富的赠品</h3>
	<h4>赠品一</h4>
	<p>寒江雪老师私人手机号码。以前培训结束寒江雪老师也会给学员留一个手机号码，那个是大号。参加这个计划可以拿到寒江雪老师的小号，你懂的！<br />
		寒江雪老师的电话咨询收费标准是300元一个小时。你参加这个计划后，随时可以向寒江雪老师电话咨询各种问题<br /> ，比如早泄怎么办，如何预防性病，和女朋友吵架怎么办。甚至不局限于情感问题，比如要不要考研，如何跟领导处好关系，怎么炒股票，失眠怎么办。<br />
		此电话咨询服务仅限一年。价值30000元。<br />
		这是史无前例的！
	</p>


	<h4>赠品二</h4>
	<p>寒江雪老师私人微信号码。<br />
		这个比电话更好，打电话有长途费，发微信语音不要钱！<br />
		此微信咨询服务仅限一年。<br />
		同样，史无前例！<br />
		Hold不住了吧！<br />
		我知道，不要激动，不要激动，淡定，淡定，还有。。。
	</p>

	<h4>赠品三</h4>
	<p>加入VIP微信群，一年。这个服务目前还没有出来收费标准。<br />
		注意，是微信，不是QQ。微信的好处是随时能聊，因为手机随时带在身边。寒江雪老师也随时参与群聊。<br />
		据说微信群的成员上限是40。<br />
		此微信群服务仅限一年。
	</p>

	<h4>赠品四</h4>
	<p>3小时街搭私教活动一次，价值900元。<br />
		寒江雪老师的街搭一对一指导，收费标准是每小时 300元。
	</p>

	<h4>赠品五</h4>
	<p>6小时夜场私教活动一次，价值2400元。<br />
		寒江雪老师的夜场一对一指导，收费标准是每小时 400元。
	</p> 

	<h4>赠品六</h4>
	<p>2小时私人饭局一次，价值900元。<br />
	赠品，，，等等，还有啊！是的，请继续往下看，我们为您准备的丰富的赠品。<br />
	如果不是真的丰富，怎么能用“丰富”这个词来形容？我是如此低调、不喜欢夸大的一个人。
	</p>
	<h4>赠品七</h4>
	<p>不定期聚餐、聚会活动，形式多样，吃饭、唱歌、喝酒、生日PARTY。</p>

	<h4>赠品八</h4>
	<p>神秘小礼物一份。绝对实用的好东西。来点小保密，多点小浪漫吧。</p>

	<h4>赠品九</h4>
	<p>寒江雪老师真实搭讪视频，此视频从未在互联网披露过。因为我们高度重视隐私权，我们从不暴露视频材料、图片材料。<br />
		这段视频是专业摄影师拍摄，画面和声音都是高度清晰的。<br />
		通过这段视频，你可以看到从开场白到现场约会，是如何自然而然地发生的。
	</p>
	<img class="image_right_bottom" src="/assets/xianchang/shipin.png"  alt="" title="" />


	<h3>把您可以得到的东西汇总一下</h3>
	<img class="image_right_bottom" src="/assets/xianchang/zengpin.png"  alt="" title="" />
	
	<h3>什么样的人不适合参加此活动？</h3>
	<p>（1）幻想三天内找到女朋友者。爱情要靠缘分。三天的课程帮助你实现巨大的自我突破，但不保证你在三天里就找到女朋友。<br />
		（2）幻想三天内有巨大改变者。我们相信持续的力量，水滴石穿的力量。我们鄙视急功近利者，短视者，懒惰者。<br />
		（3）寻找武功秘籍者。这里只有实实在在的训练，没有传说中的秘籍。你找秘籍，到别地儿找去。
	</p>

	<h3>授课老师</h3>
	<p>寒江雪：原本是学理工专业的宅男，通过自身努力获得了自信与快乐。创作的《超级约会学》邮件深受广大宅男爱好。</p>
	<img class="image_right_bottom" src="/assets/xianchang/hanjiangxue.png"  alt="" title="" />

	<h3>神秘嘉宾</h3>
	<p>海浪老师：拥有多年泡吧经验的夜场达人，真正的夜场玩家。 他能告诉你关于如何玩转酒吧的所有的事。</p>

	<h3>学费</h3>
	<p>3600-4000元<br />
		定金：600元<br />
		声明：缴纳定金是表明您来参加该期活动的决心。如果因个人原因反悔不参加当期活动，需要扣掉200元。当然，您可以推迟参加下一期活动。<br />					   注：学费中已包含两个晚上泡吧活动的酒水费。酒水标准为每晚至少2套洋酒（含1瓶威士忌，8支软饮，1份果盘），每套洋酒价格为1000元。如果你会算帐的话，你能计算出超约是怎样微利经营的，我们欣赏王石说过的一句话：不做利润超过20%的生意。
	</p>

	<h3>名额</h3>
	<p>4人。人少，你就是VIP，你能得到老师更多私人指导。</p>

	<h3>食宿</h3>
	<p>均自理。我们可以代订宾馆，需要在报名时提前说明。</p> 

	<h3>报名流程</h3>
	<p>咨询QQ:399906796→交定金600元→通知上课地点</p>

	<h3>付款方式</h3>
	<a href="http://item.taobao.com/item.htm?id=17963666470"><img class="image_right_bottom" src="/assets/xianchang/lianjie_baoming.png"  alt="" title="" /></a>

	<p>请您付款后马上通知我们，便于我们尽快联系您安排参加活动，</p>

	<h3>常见问题</h3>
	<p>（1）这个活动是在哪里搞的？<br />
		最近一期三陪计划在深圳。也会在北京、上海、杭州、成都、重庆、武汉、南京等地开展。
	</p>

	<p>（2）活动的时间是什么时候？<br />
		每月至少一期。一般在节假日和周末。
	</p>

	<p>（3）我是外地的，我能报名参加这个计划吗？<br />
		欢迎外地朋友参加。我们可以帮您订宾馆，住宿费需要您自己出。
	</p>

	<p>（4）我平时上班忙，有在长假的开班吗？<br />
		端午、五一、国庆会有开班。其实您不需要等到长假才来参加，我们的活动如果不在长假，也会安排在在周五、周六、周日。您只需要请假一天就可以来了。
	</p>

	<p>（5）参加这个计划能学到什么？<br />
		让您变得更加自信、勇敢、有魅力和善于沟通。<br />
		还能学到随时随地搭讪异性的基本技巧。<br />
		还可以学到夜场的基本礼仪，酒吧里各种游戏的玩法，成为一个好玩有趣的人。
	</p>

	<p>（6）参加活动后，能达到什么样的效果？<br />
		三天的时间是短暂的，但在三天的集中训练里，能帮助你实现巨大的自我突破，做出以前没勇气去做的事情，并看到许多以前没想到有可能的事情。<br />		但不切实际的过高期望对你是有损害的，导致你懒惰、不能坚持、轻易放弃。最好抱着探索的好奇心，不带有期望地尝试，反而会有惊喜。那些一心想着推倒，一心想着屌丝逆袭泡到白富美，又不肯付出任何努力、不肯付出金钱、不肯付出时间的人，我们一点也不欢迎，请您绕道。
	</p>

	<p>（7）我访问你们的网站，系统提示有危险？<br />
		超级约会学网站内的所有内容都是安全的，不会给您的电脑带来任何损害。可以放心访问。
	</p>

	<p>（8）我要如何报名参加你们的活动？<br />
		您可以咨询QQ:399906796，我告诉您详细的报名流程。
	</p>

	<p>（9）宾馆每晚多少钱？<br />
		每晚200元左右。如果您愿意和别人拼房，可以每人分担一半费用。如果需要订宾馆请提前一周通知，市区的宾馆周末很难预订到房间，要及早提前预订。
	</p>
	<p>10）从机场到宾馆有多远？<br />
		如果您乘飞机，晚上11点前，机场到市区都有地铁，乘坐地铁到宾馆不超过90分钟。如果打车，从机场到宾馆需要80元左右。
	</p>

	<p>（11）火车站到宾馆有多远？<br />
		如果您搭乘火车来深圳，火车站到宾馆很近，乘地铁只需要10分钟，打车不超过20元。
	</p>

	<p>（12）上课地点在哪里？<br />
		 只有第一天上午有理论课，其他课程都是实践课，具体地点上课前一周会通知。
	</p>

	<p>（13）住宿宾馆在哪里？<br />
		您入住的宾馆是7天酒店新洲店，深圳市福田区滨河大道9005号（原新洲酒店）。可乘公交到福田实验学校站。</p>

	<p>（14）你们的课程为什么涨价了？<br />
		呵呵。如果你持续关注的话，会发现我们的课程一直在涨价的。
	</p> 


	<h3>最后的说明</h3>
	<p>本计划不支持退款。<br />
		请报名前慎重考虑，我们已经以最低的价格，提供了最大价值的服务。<br />
		三天三夜里，不仅老师付出了巨大的劳动，陪你逛街陪你熬夜，此其一；并且，学费中已包含1000元的酒水费，此其二；活动的效果我们已经提前完全真实地声明了，你也同意了。<br />
		因此，这是一次公平的合作，一旦参与就不允许退款。
	</p>
	</div>
</div>











<!-- <div class="row">
	<a name="huashu_event" id="huashu_event"></a><h1>1.《约会话术集训营》介绍</h1>
	
    <h3>约会话术集训营有什么不同</h3>
    <img class="image_right_bottom" src="/assets/xianchang/kecheng/jixunying-huashu.png" alt="" title="" />此课程的存在, 只为了解决大家一个核心的问题.也是我们从07年做培训以来学员遇到最多的一个问题:"怎么和女孩聊天?"
    
    

    <h3>你是否碰到这些情况?</h3>

    <p>你在约会中不知道怎么和女孩说话? </p>
    <p>一和美女说话就紧张吗?</p>
    <p>不知道怎么练习肢体语言?</p>
    <p>女孩觉得你特别乏味</p>
    <p>女孩离开你只因为和你没法让对方刺激开心</p>
    

    <h3>到底应该怎么和女孩聊天</h3>
    <p> 
    	 如果想提高聊天技巧,第一要放松,每个人活到二十岁都有自己的人生经历和知识,不会没 有话题。第二,说话风格比内容更重要,如果爱好幽默,可 以多使用各种幽默技巧。讲故事、冷读、角色扮演、推拉都是讲话技巧,可以学习。 
    </p>
    <p>补充一点!大部分人说没话题,只暴露了他很紧张。他想在女孩面前讲女孩爱听的,他想在女孩面前表现,他想在女孩面前做一个“比现在的自己更厉害”的自己。有了这些负担,自然没有话题。我们和自己的妈妈聊天,从来不考虑有没有话题。因为我们对自己妈妈不在乎. 来现场吧. 我们会给你总结分析更多的技巧. 短短两天的时间, 让你以后彻底改变. 做一个最受欢迎的男人
    </p>
    
    <h3>话术也能帮助你社交</h3>
    <p>如果你幽默,相信更多人愿意和你交往, 不仅仅女孩, 包括你的合作伙伴, 你的客户, 学会话术, 融会贯通, 不仅仅帮你追到女孩, 还有money.</p>
    

    <h3>课程内容</h3>
    <p>
    	(1)话术技巧,寒江雪亲身实践验证过的话术,不要再去讲迷男的西式开场“刷牙前用牙线好,还是刷牙后用牙线好”,那样只会被人骂神经病;<br />    	
    	(2)模拟演练,让你练好手再上场;<br />
	</p>
    	       
    <h3>课程特色</h3>
    <p>
    	(1)体验式教学.你缺的不是知识,你知道的够多了,你缺的是体验.什么是体验?你喝过海水吗?我告诉你海水多咸多苦,你能体会吗?只有亲自喝了海水你才明白,这就叫体验;<br />
		(2)小班制.由于没有实践, 课程限制人数有所提高, 每期最多20人<br />
		(3)服务完善.提供全程后续指导,提供全程后续指导.<br />
   	</p>

</div> -->


<!-- <div class="row">
	<a name="lieshou_event" id="lieshou_event"></a><h1>2.《猎手搭讪约会特训营》介绍</h1>
  	<h3>请看下面图片文字,2天集中训练课程介绍:</h3>

		<img class="image_right_bottom" src="/assets/xianchang/kecheng/lieshou-texun.png" alt="" title="" />
    <h3>猎手搭讪约会特训营有什么不同</h3>
    
		<p>1.时间长,两天集训两个月网上理论半年实战</p>
		<p>2.包括形象设计</p>
    <img class="image_right_bottom" src="/assets/xianchang/kecheng/lieshou-xingxiang1.png" alt="" title="" />
    <img class="image_right_bottom" src="/assets/xianchang/kecheng/lieshou-xingxiang2.png" alt="" title="" />
    <h3>如果你想参加有实践的课程,推荐上猎手搭讪约会特训营,因为完备的后续服务指导.</h3>

</div> -->



<!-- <div class="row">
	<a name="dashan_event" id="dashan_event"></a><h1>3.《搭讪约会集训营》介绍</h1>

	<h3>现场课程有什么不同?现场培训强调实战!实战!实战!</h3>
	<img class="image_right_bottom" src="/assets/xianchang/kecheng/jixunying-dashan.png"  alt="" title="" />课程不罗嗦不空话,注重体验和实战.你在泡妞网上看到的方法、技巧、惯例已经够多了！该出来练一练了！还在泡学论坛逛吗,还在看别人的报告?赶快来吧,这里是实实在在的大街,这里有看得见闻得到的美女.
	
	<h3>你还在过那种不是人过的日子吗?</h3>
	
	<p>你上理工大学吗?你在IT行业吗?你的周围没有美女吗?你找不到女朋友吗?“我怎么这么倒霉?不管到哪儿周围都是侏罗纪公园.”哥们,我曾经也是这么想滴.这种日子……真他妈不是人过的.作为男人,拥有女人是我们的基本权利.谁也别跟我讲道理,都是他妈的屁话.我就是喜欢美女,我的生命因为有美女而阳光灿烂！
	</p>
	
	<h3>到哪里去认识美女?</h3>
	<p>
	到哪里去认识美女?这曾经也是我很头痛的问题.现在我知道答案了——美女无处不在！大街、商场、地铁、医院、银行……只要有人的地方就有美女,只要一出门就会见到美女.你的周围不缺美女,你缺的只是一种认识她们的技巧.这种技巧有一个不好听的名字,叫做“搭讪”.如果你去搭讪,有人会鄙视你.为什么?很简单,因为你占到了便宜,因为你获得了别人没有的优势！你要为自己活还是为别人活?你曾经活在父母老师的眼睛里,你想做大家都称赞的乖宝宝,我知道这不是你想要的.是时候像个真正的男人,做真正的你自己了！
	</p>
	
	<h3>我们带你现场搭讪30个美女,拿到10个号码!</h3>
	<p>在两天的课程里,教练带你零距离接触30个美女,认识10个美女.你会和她们交谈、认识,并展开浪漫的爱情故事.这不是韩剧,这不是意淫,这是我们PUA每天的生活.我每天都在这样过.我会把我的方法都教给你,而且我保证这些方法一点也不复杂,只要是正常人类都可以学会.你一定能学会！
	</p>
	
	<h3>课程内容和时间安排</h3>
	<p>
	(1)搭讪步骤,简单实用,你只需要一步一步照着去做就会看到效果;<br />
	(2)话术技巧,寒江雪亲身实践验证,教你追女孩子的话.不要再去讲迷男的西式开场“刷牙前用牙线好,还是刷牙后用牙线好”,那样只会被人骂神经病;<br />
	(3)模拟演练,让你练好手再上场;<br />
	(4)小游戏,兴趣是最好的老师,玩是最好的学;<br />
	(5)实战,书店、商场、街头,让你抓住无处不在的机会与诱惑.<br />
	</p>
	<img src="/assets/xianchang/kecheng/jixunying-dashan-neirong.png" alt="" />
	
   	<h3>额外的一些内容</h3>
   	<p>
	(1)形象设计,教你如何护肤、保养、搭配衣服,塑造适合你个性的独特形象;<br />
	(2)女性心理,让你摸透女孩家的古怪心思,变成女人肚里的蛔虫,听懂她的弦外之音;<br />
	(3)好恋爱谈出来,约会中怎么和女孩交流.教你和女生交流的技巧,你的嘴巴就是你最厉害的武器;<br />
	(4)搭讪的后续,追求流程,怎样一步一步由认识,到朋友,到发展亲密关系超越友谊.<br />
   	(5)让你真正知道如何结合自身的条件和优势追求女生.
   	</p>
   	<p> 
   	</p>
   	
   	<h3>课程特色</h3>
   	<p>
   		(1)体验式教学.你缺的不是知识,你知道的够多了,你缺的是体验.什么是体验?你喝过海水吗?我告诉你海水多咸多苦,你能体会吗?只有亲自喝了海水你才明白,这就叫体验;							<br />
   		(2)小班制.每个教练带学员不超过2个,保证每个学员都得到充分的指导和激励;<br />
   		(3)服务完善.提供全程后续指导,甚至手把手教你怎么发短信约女生出来.学员加入专用交流QQ群(多名高手帮你解决后续约会问题),并可不定期免费参加网络语音课程.
   	</p>

</div>
      	
	    
<div class="row">
	<a name="jiuba_event" id="jiuba_event"></a><h1>4.《酒吧夜店集训营》介绍</h1>
	
    <h3>酒吧夜店集训营有什么不同</h3>
    <img class="image_right_bottom" src="/assets/xianchang/kecheng/jixunying-jiuba.png" alt="" title="" />
	<p>
	如果要说有什么不同,这里的一切已经被“设计”好用作社交.这里灯光昏暗,即时你被拒绝也没人看到;这里音乐嘈杂,女孩骂你两句你也可以假装没听到;这里有酒,哈哈,你知道我的意思了！最重要的是,这里永远都有美女！这里永远不让你失望,随时来这里,随时都有美女等着你.只要你有本事搞定！
	</p>

    <h3>你还在过那种宅男过的日子吗?</h3>

    <p>你在酒吧有搭讪焦虑吗?一碰到美女说话就紧张吗?不知道怎么练习肢体语言?不知道如何快速自然的进挪和调情?</p>
        
    <h3>想成为把妹达人和社交高手不能不了解酒吧</h3>

    <p>想成为把妹达人吗?想成为社交高手吗?想真正搞懂女人吗?夜场是你不能回避的必修课！在这里你可能找不到女朋友和老婆,但在这里你会真正懂得女人和游戏！</p>

    <h3>搭讪-进挪-约会-诱惑当晚快速解决</h3>

    <p>想一想吧,不再是要号码、短信后续,这里的一切都是当晚,一切就在现在！现在就开始约会,现在就开始聊天,现在就开始玩游戏,现在就开始进挪,现在就开始调情,现在就开始亲吻……让该死的“后续”见鬼去吧！这里每个晚上都是完整的游戏！让你亲眼看到感受到一切是怎么发生、发展和结束的.
    </p>

    <h3>不要去网上看意淫小说,这些你都可以做到</h3>

    <p>在接下来三天的课程里,寒江雪亲手带你零距离接触20个美女,至少拿到5个美女的号码,至少和1个美女互动.你会和她们交谈、喝酒、游戏、跳舞、亲密接触.不需要去猫扑看意淫小说,所有的故事都可以发生在你身上.这是我们PUA每天的生活.我会把我的方法都教给你,而且我保证这些方法一点也不复杂,只要是正常人类都可以学会.你一定能学会！
    </p>


    <h3>课程内容</h3>
    <p>	(1)夜场常识,哪怕你从来没有来过酒吧,也让你在最短时间内明白这里的内幕;<br />
    	(2)话术技巧,寒江雪亲身实践验证,不要再去讲迷男的西式开场“刷牙前用牙线好,还是刷牙后用牙线好”,那样只会被人骂神经病;<br />
    	(3)模拟演练,让你练好手再上场;<br />
    	(4)小游戏,兴趣是最好的老师,玩是最好的学;<br />
    	(5)实战,夜色、芝加哥、莉莉玛莲、乐巢、苏荷,让你感受不酒吧的不同氛围.<br />
	</p>
    	       
    <h3>课程特色</h3>
    <p>
    	(1)体验式教学.你缺的不是知识,你知道的够多了,你缺的是体验.什么是体验?你喝过海水吗?我告诉你海水多咸多苦,你能体会吗?只有亲自喝了海水你才明白,这就叫体验;<br />
		(2)小班制.每个教练带学员不超过2个,保证每个学员都得到充分的指导和激励;<br />
		(3)服务完善.提供全程后续指导,提供全程后续指导,参加泡吧聚会活动,每月至少一次.<br />
   	</p>

</div> -->









<!-- <div class="row">
	<a name="siren_event" id="siren_event"></a><h1>5.《私人1对1培训》</h1>
	
	<h3>什么是1对1私人培训?</h3>
	<p>
		前面讲的都是一个教练带几个人或者十几个人,我们叫集训营. 1对1私人培训一个教练带一个人, 此外还有助教参加, 我们叫特训营.只为了一件事: 短短三天内彻底改变你一个人. </p>
	<p>
	特训营就是在短短的几天时间内,<br />
	用高强度高质量的现场训练,<br />
	最大限度激发人的潜能,突破心理极限,<br />
	在短期内获得最大限度的提升和改变.
	</p>


	<h3>特训营分为搭讪约会和酒吧夜场两个独立的培训.侧重点不同
	</h3>	
	<h3>1.搭讪约会特训营-9800元-3天</h3>

	<p>教你在校园、书店、商场、步行街、公交、地铁等日常场所随时随地认识高品质美女的技巧,同时提供后续约会与恋爱的技术指导.</p>

	<img class="image_right_bottom" src="/assets/xianchang/kecheng/texunying-dashan.png" alt="" title="" />

	<h3>课程内容概要</h3>
	<p>
		(1)第一天,形象设计,实践:搭讪实践初阶,地点书城;<br />
		(2)第二天,约会理论,实践:搭讪实践进阶, 地点商场;<br />
		(3)第三天,搭讪实践高级,步行街;<br />
	</p>
	
	
	<h3 class="clear">2.酒吧夜店特训营-19800元-3天</h3>

	<p>夜场培训教你在酒吧认识陌生美女的技巧,还有好玩的游戏,炫酷的舞蹈,让你成为夜场把妹达人.</p>
	<img class="image_right_bottom" src="/assets/xianchang/kecheng/texunying-jiuba.png" alt="" title="" />
	<h3>课程内容概要</h3>
	<p>(1)第一天,形象设计,夜场游戏初阶,去相对容易一点的酒吧,这里的女孩比较容易认识,学习酒吧常识,适应酒吧环境;<br />
		(2)第二天,夜场游戏进阶,去难度较大的酒吧,教你更多的夜场游戏技巧,跳舞、话术、开场白、惯例;<br />
		(3)第三天,夜场游戏高阶,练习和复习前两天学到的技巧,认识更多的美女;</p>
	</p>
	
	
	
	<h3>特训营课程特色</h3>
	<p>(1)打造精品.每期只有一个学员,教练比学员多,全方位的贴身指导和激励,让你在最短时间内激发无限潜能！<br />
		(2)随到随开.本课程是私人教练形式,量身定做,根据您的时间设定课程计划,只需要您找出三天连续假期即可.<br />
	</p>
	<p>
		这不是一个简单的游戏,<br />想要挑战一下自己的,不要放过这个机会！<br />
		在三天的学习中,<br />一定能让你获得受用终生的约会学知识和体验.<br />
		从今天开始,<br />女人和约会不再是难解之谜！
	</p>
	
	<h3>教练</h3>
	<p>
	教练：寒江雪<br />
	助教: 面具或别的助教
	</p>

	
</div> -->

      
			

<div class="row">
	<div class="span12">
	<a name="baoming" id="baoming"></a><h1>报名必看</h1>
	
	
	<h3>报名流程</h3>
	
	<p>查看课表->考虑好要学习的班级->联系客服人员发送个人信息->缴纳定金->工作人员开课前两天联系你->来现场交剩余学费->参加培训</p>
	<h3>报名联系</h3>
	<p>报名联系QQ:399906796</p>
	
	<h3>点击进入我们的淘宝店铺缴纳定金.更安全放心.如果没有支付宝, 请联系转账</h3>
	<a href="http://item.taobao.com/item.htm?id=17963666470" target="_top" title="现场报名淘宝链接">
		<img src="/assets/xianchang/lianjie_baoming.png"   alt="现场报名淘宝链接" title="现场报名淘宝链接" />								
    </a>	

	<h3>如果你还是觉得有些贵,请看下面:</h3>
	<p>身边很多人,每次约会几百,手都没牵到,那才是真正浪费钱</p>
	<p>说句实话,亲眼见过不少人,请女孩吃饭唱歌买礼物,每次花几百,任何一个陷阱都会让你付出高昂的代价,最后手都没牵到,那才是真正浪费钱,追女泡妞前投资自己大脑是第一步,后面能为你省下不少钱,早学少花钱.</p>
	
	<h3>课程里面会教你"低成本追女孩",不要再去当"钱袋"</h3>
	<p>课程里面有专门教你怎么低成本泡妞的,你学了,自然能省下一大笔钱,因为我们都是过来人,以前浪费了不少钱,更重要的是花了还没结果, 慢慢女人会把这种人当作凯子和钱袋.</p>
	
	<h3>更不要盲目的去约会相亲</h3>
	<p>与其盲目的探索,相亲和乱花钱,为什么不系统的学习行之有效的方法呢?</p>

	<h3>青春不等人, 几十年后,你再回想今天,这些钱值!</h3>
	<p>
		早学早泡妞,青春不等人,不要等到家里逼得相亲的时候才学这个,培训班不少现场学员就这样,那个时候有点晚了,而且人生中的精华时段没有泡到妞,不值,给自己一个机会
	</p>
	
	<h3>现场不满意100%当场退款-零风险承诺!</h3>
	<p>我知道,你还在担心可能的风险……<br />
		所以,我要给你一个最顶级的保险
	</p>
	<img src="assets/tuikuan.png"  alt="现场当场退款保障" title="现场当场退款保障" />
	<p>在国内,还没有哪家培训机构敢做出这样的保证!我们敢!因为我们相信自己的产品,我们敢于为自己的产品负责!</p>

	<p>当然你会想,如果客户学完了要求退款怎么办?我们的服务,只赚君子的钱,不赚小人钱.真正的商业建立在互相信任之上.</p>

	<p>你相信我们,才给我们一次证明自己产品的机会.如果我们的课程的确没法帮助你,我们也没有理由收客户的费用.</p>

	<p>我们的宗旨是争做行业第一品牌,我们最大限度保证学员的利益！</p>	
	</div>
</div>



<div class="row">
	<div class="span12">
	<a name="jianzheng" id="jianzheng"></a><h1>学员见证</h1>
	<h3>自从我参加了pua课程网的培训后，我的搭讪成功率有了飞跃</h3>
	<p>当然我要感谢寒江雪这位好前辈好兄弟好朋友，如果他没有组织在广州的"搭讪约会集训营"培训.我的搭讪技术很难提高。自从我参加了他的活动后，我的搭讪成功率有了飞跃。……记住：搭讪一定要实践，不要躲在家里看理论知识；不过理论知识也不可缺少。					
	</p>
	<p class="align_right">——广州万里无云</p>

	<h3>这次培训,改变了我的一生,我不再为认识不到美女而烦恼.</h3>
	<p>当你把时间花在大师们光辉的著作上时，你会频频点头，而后发现自己进步很慢。正如马云所说：“多去看别人失败的经验。成功的方法千千万万，失败的原因就那么几个。”而老寒正是所有PUA中失败最多，却因此总结收益最多的人。在通往PUA的道路上，你即将面对的坑洞，老寒都曾踩过，他知道怎么扶你起来，继续前行。这次参加了"搭讪约会集训营"培训,改变了我的一生,我不再为认识不到美女而烦恼.
	</p>
	<p class="align_right">——福州 肥猫</p>

	<h3>原来可以这样认识美女啊.</h3>
	<p>我参加了"搭讪约会集训营"培训,在现场,这时寒江雪带着我开始给我做搭讪示范，他一下搭讪了好几个，我跟在他身后，看着他和MM那种谈吐自然，镇定自若，微笑的表情让我既惊呀又羡暮,原来可以这样认识美女啊.
	</p>
	<p class="align_right">——东莞 阿风</p> 

	<h3>那些心态上的提升，还教我很多社会上的知识</h3>
	<p>这次参加了"搭讪约会集训营"培训,感谢寒老给我的那些心态上的提升，还教我很多社会上的知识，我觉得这些比那些把妹知识重要多了。祝寒老师多收些师弟来，让大家能能摆脱“宅男”，早日找到自己喜欢的女孩子。寒老，有机会要来福建玩玩，看一看我们福建的美女，相信寒老来到福建一定如虎入羊群，想吃哪个就吃哪个，福建泡友们欢迎您。
	</p>
	<p class="align_right">——福州 星夜</p>

	<h3>你还在单身么?</h3>
	<p>
	你想和我一样吗？你还在单身吗？你不知道如何才能认识高品质的美女吗？你想了解女人的心思吗？参加培训班，在这里能找到你想要的答案。学习约会不只为了找到一个女朋友，也为了生命的成长。
	</p>
	<p class="align_right">——深圳 肖易</p>


	<h3>不仅仅是认识美女，还教我很多社会上的知识</h3>
	以前，我总喜欢待在家里，朋友叫我出去我不知不觉地抵触，总想逃避。这两天，我经常会有点主动想邀朋友出去。 <br />
	以前，我经常无缘无故很郁闷，这两天，我无缘无故地很嗨。 <br />
	以前，我一般不会主动和同事打招呼，回来之后，我会想都不想就和他们say hello，没有什么心理斗争。因为我看到他们的时候，我产生的条件反射已经不一样了，是任何理论学习都不能给我的。 <br />
	以前，我对别人的语气和态度特别敏感，老怕说错话，事后还想来想去。回来之后，我变得自信了不少，更多时候敢于说出自己的观点。”<br />
	</p>
	<p>经过这次培训,不仅仅学会了认识美女,更学会了与人怎么交往.</p>
	<p class="align_right">——北京 阿利</p>

	<h3>
		还有更多的故事...
	</h3>
	</div>

</div>









<div class="row">
	<div class="span12">
	<a name="guangpan" id="guangpan"></a><h1>来不了现场怎么办?</h1>
	
	<p>如果你实在来不了现场,<br />
		但又非常想学习<br />
		怎么办?
	</p>
	<h3>最好的选择是远程培训,购买后加入群</h3>

	
	<p>如果你有支付宝,请到这里购买:</p>
	<a href="http://item.taobao.com/item.htm?id=17963666470" target="_top">
		<img src="/assets/guangpan/guangpan.png" alt="" title="" />
	</a>
	<p>如果没有支付宝,请联系QQ:399906796额外支付方法</p>
	
	
		
	<h3 class="clear">现在购买,vip QQ群里还有位置加入</h3>
	<img class="image_right_bottom" src="/assets/guangpan/qun.png" alt="泡妞qq群" title="泡妞qq群" />
	
	<p>我们并不会像别的泡妞网站把教程卖给大家就不管了.因为很多学员在学习或实践过程中. 会遇到一些个别的问题. 需要老师帮助. 你可以在此网站得到帮助.此外,他们也想与周围人分享. 请到vip群里面分享.多实践,遇到问题来群内和大家交流
	</p>
	<p>我们真正对自己的学员负责.</p>
	</div>
</div>


