<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "错误") %> :</h2>

      <ul>
      <% @subject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "目标(1到20字)" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :order_number, "排序数字(数字,0到10000)" %><br />
    <%= f.number_field :order_number %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>




