<% content_for :title,"国内外最经典的泡妞书籍泡妞电影-泡妞书籍大全-泡妞书籍下载" %>
<% content_for :keywords,"泡妞秘籍,泡妞电影,泡妞视频,泡妞书籍,泡妞电子文档." %>
<% content_for :description,"你还在网上到处搜索泡妞书籍吗?所有的国内外最经典泡妞书籍都在这里,并且常常更新.把妹达人,冷读术,迷男方法,约会倍增术,身体语言密码,恋爱方程式,逆向恋爱术,现实世界诱惑术,杂耍人方法,
David_x方法, 把妹大人之游戏规则.你不可不知的情场致胜秘密.男人来自火星,女人来自金星,魔法诱惑等,以及一些保密文档." %>


<% unless is_member? %>
	<div id="header_guanggao">
		<a href="http://item.taobao.com/item.htm?id=16817107913"><img src="/assets/guanggao.png" alt="泡妞秘籍购买链接" /></a>
	</div>
<% end %>

<div class="box">
	
	<div id="content">		
				<div id="notice"><%= flash[:notice] || flash.now[:notice] %></div>	
					
				<h2>分享资源(+3积分)</h2>
				<% if is_member? %>
					<%= render :partial => 'form', :locals => {:resource => @resource}  %>
				<% else %>
					<div class="note_notice">只有学员才可以创建资源分享, <%= link_to "成为学员", :join %>, 是学员的请<%= link_to "登录", :login  %></div>
				<% end %>
				<div id="notice"><%= flash[:notice] || flash.now[:notice] %></div>
				<h2>最近资源分享</h2>
				<% unless is_member? %>
					<div class="note_notice">只有学员才可以下载</div>
				<% end %>
				
				
				<% @resources.each do |resource| %>
					<div class="topic_user_photo">
						<%= image_tag resource.user.photo.url(:thumb) %>
					</div>
					<div class="topic_title"><%= link_to truncate(resource.title,:length => 35), resource %></div>
					<br /><br />
					<div class="topic_meta">类别:<%= link_to resource.category.name, category_resources_path(resource.category) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布:<%= link_to resource.user.nick_name, resource.user %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= resource.created_at.to_date.to_s %>
					</div>

					<div class="topic_edit_bar">
						<%= link_to "去下载或评论(#{resource.comments.size})", resource  %>
					</div>
					<hr />
				<% end %>
				<%= paginate @resources %>		
			
	</div>
	<div id="categories">	
		<ul>
			<li <%="class='selected'" if @category_id == 0  %>><%= link_to "所有资源", resources_path %></li>
			<% @categories.each do |category| %>
			<li <%="class='selected'" if @category_id == category.id  %>><%= link_to category.name, category_resources_path(category) %></li>
			<% end %>
		</ul>
	</div>
	
</div>  <!-- end of box -->


