<% content_for :title, @resource.title %>
<% content_for :keywords,"国外泡妞书籍,台湾泡妞书籍,大陆泡妞书籍,泡妞案例,泡妞电影,泡妞图片,追女孩子的短信,搭讪技术,冷读术,接吻技巧,接吻的视频教程,泡妞小说大全,相亲" %>
<% content_for :description, @resource.title %>

<% unless is_member? %>
	<div id="header_guanggao">
		<a href="http://item.taobao.com/item.htm?id=16378605912"><img src="/assets/guanggao.png" alt="泡妞秘籍购买链接" /></a>
	</div>
<% end %>


<div class="box ">
	<div id="content">
		<div class="entry_person_photo">
			<%= image_tag @resource.category.avatar.url(:medium) %>		
		</div>
		<div class="entry_title"><%= simple_format truncate(@resource.title,:length => 35) %></div>
		<br /><br />
		<div class="entry_meta">类别:<%= link_to @resource.category.name, category_resources_path(:path => @resource.category.path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;发布:<%= link_to @resource.person.nick_name, @resource.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= @resource.created_at.to_date.to_s %>
		</div>
				
		<div class="download_link_area">
			<p>下载链接:</p>
			<% if is_member? %>
					<%= word_wrap(@resource.download_link) %></p>
			<% else %>
				只有学员才可以下载, <%= link_to "成为学员", :guangpan %>, 是学员的请<%= link_to "登录", :login  %>
			<% end %>
		</div>
		
		<div class="entry_edit_bar">
			<%= render :partial => "share/bdshare" %>
			<% if can_delete?(@resource) %>
				<%= link_to '编辑', edit_resource_path(@resource) %>
				<%= link_to '删除', @resource, :data => { :confirm => '确定删除' }, method: :delete %>
			<% end %>
		</div>
		<hr />
		
		
		<h2>所有评论(评论:+1积分)</h2>
		<% if notice %>
			<div id="notice"><%= notice %></div>
		<% end %>
		<div id="comments">
			<% @comments.each do |comment| %>
				<%= render comment %>
			<% end %>
			
			<%= render :partial => "comments/form", :locals => { :comment => @comment, :commable_type => "Resource", :commable_id => @resource.id } %>
		</div>
			
	</div>
	<div id="sidebar">
		<%= link_to "返回", :back %>
	</div>
</div>