<% content_for :title, @resource.title %>
<% content_for :keywords,"国外泡妞书籍,台湾泡妞书籍,大陆泡妞书籍,泡妞案例,泡妞电影,泡妞图片,追女孩子的短信,搭讪技术,冷读术,接吻技巧,接吻的视频教程,泡妞小说大全,相亲" %>
<% content_for :description, @resource.title %>




<div class="row">
	<div class="span8">
		<% if notice %>
			<div class="alert">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <%= notice %>
			</div>
		<% end %>
		<div class="media">
		  <a class="pull-left" href="#">
				<%= image_tag @resource.person.avatar.url(:thumb),:class => "media-object" %>
		  </a>
		  <div class="media-body">
		    <h4 class="media-heading"><%= link_to @resource.title, @resource, :target => "_blank" %></h4>
		    <div class="media">
					发布:<%= link_to @resource.person.nick_name, @resource.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类别:<%= link_to @resource.category.name, category_resources_path(:path => @resource.category.path) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= @resource.created_at.to_date.to_s %>
					<br />
					<br />
					<p>下载链接:</p>
					<% if (@resource.category.id == 16 || @resource.category.id == 21) and !is_member? %>
							视频和音频只有学员才可以下载, <%= link_to "成为学员", "/" %>, 是学员的请<%= link_to "登录", :login  %>
					<% else %>
						<%= link_to word_wrap(@resource.download_link), @resource.download_link %></p>
					<% end %>
					
					<% if can_delete?(@resource) %>
						<%= link_to '编辑', edit_resource_path(@resource) %>
						<%= link_to '删除', @resource, :data => { :confirm => '确定删除' }, method: :delete %>
					<% end %>
					<%= render :partial => "share/bdshare" %>	
					
		    </div>
		  </div>
		</div>
		
		<br />
		<h4>所有评论(评论:+1积分)</h4>
		
		<hr />
		
		<div id="comments">
			<% @comments.each do |comment| %>
				<%= render comment %>
			<% end %>
			
			<%= render :partial => "comments/form", :locals => { :comment => @comment, :commable_type => "Resource", :commable_id => @resource.id } %>
		</div>
			
	</div>
	<div class="span4">
		<%= link_to "返回<<", :back %>
		<hr />
		<h4>最近资源</h4>
		<ul>
		<% @latest_resources.each do |resource| %>
			<li><%= link_to resource.title, resource %></li>
		<% end %>
		</ul>
	</div>
</div>