<% content_for :title,"测试你的情商" %>
<% content_for :keywords,"情感测试,性爱测试" %>
<% content_for :description,"测试你的情商,测试你性商,泡妞学测试" %>

<script>
	$(document).ready(function() {
		$('#new_app').hide();
		$('.create_app_button').click(function() {
			$('#new_app').slideToggle();
			var text = $(this).text() == '创建测试' ? '取消创建' : '创建测试';
			$(this).text(text);
		});
	
		$('form').live('submit', function(e) {
			var text = "<%= is_member? ? '答案:' : '你不是学员,不能参加测试,请先联系QQ:1341548835开通学员'%>";
			$(this).parent().find(".notice_answer").append('<div class="notice">'+text+'</div>');
		});
		
	});
	
</script>

<% unless is_member? %>
	<div id="header_guanggao">
		<a href="http://item.taobao.com/item.htm?id=16378605912"><img src="/assets/guanggao.png" alt="泡妞秘籍购买链接" /></a>
	</div>
<% end %>
<div class="box">	
		
	<div id="content">
		<% if notice %>
			<div id="notice"><%= notice %></div>
		<% end %>
		<h2>创建测试,点击下面按钮开始(+3积分)</h2>
		<% if is_member? %>
			<%= button_tag(:type => 'button', :class => "create_app_button") do %>创建测试<% end %>
		<% else %>
			<div class="hint">只有学员才可以创建测试, <%= link_to "成为学员", :guangpan %>, 是学员的请<%= link_to "登录", :login  %></div>
		<% end %>

		<%= render 'form'  %>
		
		<h2>最新测试</h2>
		
		<% @apps.each do |app| %>
			<div class="entry_person_photo">
				<%= image_tag app.person.avatar.url(:thumb) %>
			</div>
			<div class="entry_title"><%=  app.title %></div>
			<br /><br />
			<div class="entry_meta">发布:<%= link_to app.person.nick_name, app.person %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时间:<%= app.created_at.to_date.to_s %>
			</div>

			<div class="entry_content"><%= simple_format app.content %></div>
			
			
			<div class="entry_content">
				<div class="notice_answer" id="notice_answer_<%= app.id %>"></div>
				<%= form_tag :test, :remote => true do |f| %>
					<% app.options.each_with_index do |option,index| %>
						<div class="field">
							<%= radio_button_tag "answer",ApplicationHelper::IndexToLetter[index], false %>		
							<%= ApplicationHelper::IndexToLetter[index] %>.<%= label_tag "answer", option.content %>
						</div>
						<div class="field">
							<%= hidden_field_tag "app_id",app.id %>		
						</div>
					<% end %>
					<div class="field">
						<%= submit_tag "提交" %>
					</div>	
				<% end %>
			</div>
			
			<div class="entry_edit_bar">
				<div class="right_text">
				<%= link_to "详细(#{app.comments.size})", app, :target => "_blank" %>
				</div>
			</div>
			<hr />
		<% end %>
		<%= paginate @apps %>		
	</div>
	
</div>

