<% if notice %>
<div id="notice"><%= notice %></div>
<% end %>

<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>Description:</b>
  <%= @app.description %>
</p>

<p>
  <b>Person:</b>
  <%= @app.person %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
