<% content_for :title,"泡妞学网约会恋爱培训-泡妞学网" %>
<% content_for :keywords,"寒江雪,超级约会学,寒江雪超级约会学" %>
<% content_for :description,"5年来,帮助上千宅男告别单身,欢迎来现场参加培训,在深圳,广州,上海,北京不定期开设搭讪约会课程,讲授搭讪技巧,约会技巧,以及酒吧夜店泡妞课程,教你展示自身价值.约会话术课程,教你追女孩子的话." %>





<div class="box">
	<%= link_to "了解现场培训详情=>", :xianchang %>
	<% if is_admin? %>
		<div class="entry_edit_bar">
			<%= link_to '创建课程', new_course_path %>
		</div>
	<% end %>
	
	<div class="courses_update_time">更新时间:<%= Course.last.updated_at.to_date %></div>
	<table id="courses">
	  <tr>
	    <th class="name">课名</th>
	    <th class="category">类型</th>
	
	    <th class="date">开始</th>
	    <th class="date">结束</th>
	    <th class="holiday">假期</th>
	
	    <th class="city">城市</th>
	    <th class="teacher">讲师</th>
	
	    <th class="digit">名额</th>
	    <th class="digit">已报</th>
	
	    <th class="digit">学费</th>
	    <th class="digit">优惠</th>
	    <th class="discount_requirement">优惠条件</th>
	    <th class="digit">定金</th>
		<th class="remain_days">倒计时</th>
	  </tr>
	
	<% even = 1 %>
	<% @courses.each do |course| %>
		<% even = even+1 %>
		<% odd = (even + 1)%2 %>
	  <tr class="line_<%= odd %>">
	    <td><%= course.name %></td>
		<td><%= course.category %></td>
		
	    <td><%= course.start_date %></td>
	    <td><%= course.end_date %></td>
	    <td><%= course.holiday %></td>
	
	    <td><%= course.city %></td>
	    <td><%= course.teacher %></td>
	
	    <td><%= course.top_number %></td>
	    <td><%= course.now_number %></td>
	
	    <td><%= course.cost %></td>
	    <td><%= course.discount %></td>
	    <td><%= course.discount_requirement %></td>
	    <td><%= course.deposite %></td>
	
			<td>
				<%= course.remain_days %>
				
				<% if can_delete?(course) %>
			    <%= link_to '#', edit_course_path(course) %>
			    <%= link_to '-', course, :data => { :confirm => '确定删除' }, method: :delete %>
			  <% end %>
			</td>

	  </tr>
	<% end %>
	</table>		
	<p class="clear"></p>
	<br />
	<%= paginate @courses %>

</div>

