<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "错误") %> :</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "名称(1到20字)" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :order_number, "排序数字" %><br />
    <%= f.number_field :order_number %>
  </div>
  <div class="field">
    <%= f.hidden_field :typeable, :value => @category.typeable %>
  </div>
  <div class="actions">
    <%= f.submit "提交" %>
  </div>
<% end %>
