<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %></title>
	<meta name = "keywords" content = "<%= yield(:keywords) %>" /> 
  <meta name = "description" content = "<%= yield(:description) %>" /> 
  <%= stylesheet_link_tag "application", :media => "all" %>

  <%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
	<% if Rails.env == "production" %>
	  <%= javascript_include_tag "http://www.paoniuxue.com:9292/faye.js"%>
		<% if controller.class == PagesController %>
	  	<!--禁止firefox右键-->
	    <script type="text/javascript">
		   	 document.oncontextmenu=function(e){return false;}
	    </script>
		<% end %>
	<% else %>
		<%= javascript_include_tag "http://localhost:9292/faye.js"%>
	<% end %>
	
	<!-- <%# unless is_member? %>
		<script type="text/javascript">
			$(document).ready(function(){
				$("body").addClass("kfqq");
			});
		</script>
	<%# end %> -->

</head>
<!-- 产品模式下拒绝右键和复制 -->
<% if Rails.env == "production" and controller.class == PagesController %>
<body oncontextmenu="self.event.returnValue=false"  onselectstart="return false" oncopy="event.returnValue=false">
<% else %>
<body>
<% end %>


	<div id="main_container">
    <ul class="page_nav">
			
    	<li <%="class=selected" if controller.class == PagesController and action_name == 'guangpan' %> >
  				<a href="/guangpan" target="_top">专业约会指导教程</a>
  		</li>
			<li <%="class=selected" if controller.class == PagesController and action_name == 'zhinanzhen' %> >
				<a href="/zhinanzhen" target="_top">指男针</a>
			</li>
			<li <%="class=selected" if controller.class == PagesController and action_name == 'xianchang' %> >
 					<a href="/xianchang" target="_top">现场培训</a>
			</li>

			<li <%="class=selected" if controller.class == PagesController and action_name == 'zhidao' %> >
				<a href="/zhidao" target="_top">售后指导</a>
			</li>				
			<li <%="class=selected" if controller.class == PagesController and action_name == 'baodao'%> >
				<a href="/baodao" target="_top">媒体报道</a>
			</li>
		

			<li class="user_tool">
				<ul>
					<li>|</li>
					<% unless session[:person_id] %>
						<li <%="class=selected" if controller.class == PeopleController and action_name == "new"%> >
							<a href="/people/new" target="_top">注册</a>
						</li>
						<li <%="class=selected" if controller.class == SessionsController and action_name == "new"%> >
							<a href="/login" target="_top">登录</a>
						</li>
					<% end %>
					<% unless session[:person_id].nil? %>					
						<li <%="class=selected" if controller.class == PeopleController and action_name == "show" and params[:id].to_i == session[:person_id] %> >
							<%= link_to current_person.nick_name, current_person %>
						</li>
						<li><%= link_to "修改资料", edit_person_path(current_person) %></li>
						<li>
							<%= link_to "退出", :logout, :data => { :confirm => '确定退出?' }, method: :delete %>
						</li>
					<% end %>
		 	  </ul>			
			</li>
	
  	</ul>
           
		<div id="nav">
		  <div id="logo">
				<img src="/assets/logo.png" alt="泡妞学网" />
			</div>
			<ul>
				<li <%="class=selected" if controller.class == HomeController %> >
					<a href="/" target="_top">首页<br /><span>动态更新</span></a>
				</li>
				
				<li <%="class=selected" if controller.class == PeopleController and action_name == "index" %> >
					<a href="/people" target="_top">所有学员<br /><span>排行版</span></a>
				</li>
				<li <%="class=selected" if controller.class == CoursesController and action_name == "index" %> >
					<a href="/courses" target="_top">最近课程<br /><span>最近城市</span></a>
				</li>
			
				<li <%="class=selected" if controller.class == ClassroomsController %> >
  				<a href="/classrooms/1" target="_top">聊天室<br /><span>周六晚8点</span></a>
  			</li>

				<li <%="class=selected" if controller.class == GroupsController %> >
  				<a href="/classes/1" target="_top">有问必答<br /><span>约会问题</span></a>
  			</li>

				<li <%="class=selected" if controller.class == NotesController %> >
					<a href="/notes" target="_top">惯例库<br /><span>追女孩子的话</span></a>
				</li>
					
				<li <%="class=selected" if controller.class == AppsController %> >
					<a href="/apps" target="_top">情商测试<br /><span>魅力指数</span></a>
				</li>
										
  			<li <%="class=selected" if controller.class == ResourcesController %> >
  				<a href="/resources" target="_top">泡妞资源<br /><span>国内最全</span></a>
  			</li>    		    			

  			<li <%="class=selected" if controller.class == ArticlesController %> >
  				<a href="/articles" target="_top">泡妞文章<br /><span>理论实践</span></a>
  			</li>    		    			
				
			
			</ul> 		
		</div>		
		<div id="guanggao">
				泡妞学网,专为学员打造,客服QQ：1341548835；请先学完光盘成为学员,<a href="/guangpan">购买=></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最新培训：深圳1月1，1号<a href="/courses">赶紧报名参加</a>
		</div>

		<%= yield %>
	</div> <!-- end of main-container -->

	<div id="subscription">
<!--以下是QQ邮件列表订阅嵌入代码--><script >var nId = "e202938b28dc42ec9ebdaec67e943c2bebd596421a46b5b1",nWidth="170px",sColor="light",sText="填QQ邮箱点击订阅,去邮箱点击确认订阅链接,会收到10本大陆最强泡妞电子书,以后更多精彩!" ;</script><script src="http://list.qq.com/zh_CN/htmledition/js/qf/page/qfcode.js" charset="gb18030"></script>
	</div>
	
	<% unless is_member? %>
			<div class="kfqq">
				<%= image_tag "/assets/kfqq.png" %>
			</div>
	<% end %>
		
	
	<hr />
	<div id="footer">
		<p>	
			Copyright(C)2007-2012 <a href="http://www.paoniuxue.com/" target="_top">泡妞学网</a>| 
			<a href="http://paoniuxue.taobao.com" target="_top" title="专业约会指导店铺">专业约会指导店铺</a>
			<a href="http://399906796.qzone.qq.com" title="泡妞学网QQ空间">泡妞学网QQ空间</a>
			<a href="http://xiaohualang.blog.hexun.com/" title="泡妞学网和讯站">泡妞学网和讯站</a>
			<a href="http://site.douban.com/119876/" title="专业搭讪约会培训的小站">专业搭讪约会培训的小站</a>
			<a href="http://blog.sina.com.cn/paoshop" title="专业泡妞培训_新浪博客">泡妞学网新浪站</a>
			<a href="http://paoxun.blog.sohu.com/" title="泡妞学网搜狐站">泡妞学网搜狐站</a>
			<a href="http://hi.baidu.com/paoniupx/home" title="泡妞学网百度站">泡妞学网百度站</a>
			<a href="http://xiaohualang.blog.hexun.com/" title="泡妞学网和讯站">泡妞学网和讯站</a>				
		</p>
		<p>
			版权所有 备案号：<a href="http://www.miibeian.gov.cn/" target="_top">粤ICP备08028333号</a><br />
		</p>
		<p>培训城市:深圳&nbsp;广州&nbsp;上海&nbsp;北京   全国统一服务QQ：1341548835</p>
		
	</div><!-- end of footer -->

	

	
	<% if [TopicsController, NotesController, ResourcesController, AppsController, ArticlesController].include?(controller.class) and action_name=="show" %>
		
		<script type="text/javascript" id="bdshare_js" data="type=tools" ></script>
		<script type="text/javascript" id="bdshell_js"></script>
		<script type="text/javascript">
			document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours();
		</script>		
	<% end %>
	
	
	<% if Rails.env == "production" %>
		<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd23a7abb99279fee20249f938c04b70e' type='text/javascript'%3E%3C/script%3E"));
		</script>
	<% end %>
	

</body>
</html>
