<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %></title>
	<meta name = "keywords" content = "<%= yield(:keywords) %>" /> 
  <meta name = "description" content = "<%= yield(:description) %>" /> 
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag "http://localhost:9292/faye.js"%>
  <%= csrf_meta_tags %>
<% if Rails.env == "production" %>
	<% if controller.class == PagesController or controller.class == CoursesController %>
  	<!--禁止firefox右键-->
	    <script type="text/javascript">
		   	 document.oncontextmenu=function(e){return false;}
	    </script>
	<% end %>
<% end %>
</head>
<!-- 产品模式下拒绝右键和复制 -->
<% if Rails.env == "production" %>
	<% if controller.class == PagesController or controller.class == CoursesController %>
		<body oncontextmenu="self.event.returnValue=false"  onselectstart="return false" oncopy="event.returnValue=false">
	<% else %>
		<body>
	<% end %>
<% else %>
		<body>
<% end %>

	<!-- <div id="paoniuxue_top">     -->
	<div id="main_container">
    <ul class="page_nav">
    	<li <%="class='selected'" if controller.class == PagesController and action_name == 'guangpan' %> >
  				<a href="/guangpan" target="_top">泡妞秘籍</a>
  		</li>
			<li <%="class='selected'" if controller.class == CoursesController %> >
 					<a href="/courses" target="_top">泡妞培训</a>
			</li>
			<li <%="class='selected'" if controller.class == PagesController and action_name == 'zhinanzhen' %> >
				<a href="/zhinanzhen" target="_top">指男针</a>
			</li>
	
			<li <%="class='selected'" if controller.class == ArticlesController %> >
				<a href="/articles" target="_top">泡妞文章</a>
			</li>
			<li <%="class='selected'" if controller.class == PagesController and action_name == 'hezuo'%> >
 				<a href="/hezuo" target="_top">合作推广</a>
 			</li>
			<li <%="class='selected'" if controller.class == PagesController and action_name == 'qun' %> >
				<a href="/qun" target="_top">泡妞咨询</a>
			</li>				
			<li <%="class='selected'" if controller.class == PagesController and action_name == 'baodao'%> >
				<a href="/baodao" target="_top">媒体报道</a>
			</li>
			<li <%="class='selected'" if controller.class == PagesController and action_name == 'faq'%> >
  				<a href="/faq" target="_top">购买问题</a>      
  			</li>
  	

		
			<li <%="class='selected'" if controller.class == PagesController and action_name == 'xueyuan'%> >
				<a href="/xueyuan" target="_top">成为学员</a>
			</li>						
			<li class="li_space">|</li>
			<% unless session[:person_id] %>
			<li <%="class='selected'" if controller.class == PeopleController and action_name == "new"%> >
				<a href="/people/new" target="_top">注册</a>
			</li>
			<li <%="class='selected'" if controller.class == SessionsController and action_name == "new"%> >
				<a href="/login" target="_top">登录</a>
			</li>
			<% end %>
			<% unless session[:person_id].nil? %>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= link_to "退出", :logout, :data => { :confirm => '确定退出?' }, method: :delete %>
			<% end %>
	 	  
  	</ul>
           
		<div id="nav">
		  <div id="logo">
				<!-- <img src="/assets/logo.png" alt="泡妞学网" /> -->
				<img src ="/assets/logo.png" alt = "泡妞学" />
			</div>
			<ul>
				<li <%="class='selected'" if controller.class == HomeController %> >
					<a href="/" target="_top">首页<br /><span>最近动态更新</span></a>
				</li>
				
				<li <%="class='selected'" if controller.class == PeopleController and action_name == "index" %> >
					<a href="/people" target="_top">所有学员<br /><span>最近,排行版</span></a>
				</li>
				<li <%="class='selected'" if controller.class == PeopleController and action_name == "show" and params[:id].to_i == session[:person_id] %> >
					<% if session[:person_id] %>
						<%= link_to Person.find(session[:person_id]) do %>
							我的主页<br /><span>记录,收藏</span>
						<% end %> 
					<% else %>
						<%= link_to :login do %>
						我的主页<br /><span>记录,收藏</span>
						<% end %>
					<% end %>
				</li>
				
				<li <%="class='selected'" if controller.class == ClassroomsController %> >
  				<a href="/classrooms/1" target="_top">聊天室<br /><span>讨论,每晚9点</span></a>
  			</li>

				<li <%="class='selected'" if controller.class == GroupsController %> >
  				<a href="/classes/1" target="_top">小组<br /><span>问答和案例</a>
  			</li>

				<li <%="class='selected'" if controller.class == NotesController %> >
					<a href="/notes" target="_top">惯例库<br /><span>追女孩子的话</span></a>
				</li>
				
  			<li <%="class='selected'" if controller.class == ResourcesController %> >
  				<a href="/resources" target="_top">资源下载<br /><span>国内最全</span></a>
  			</li>    		    			

				<li <%="class='selected'" if controller.class == AppsController %> >
					<a href="/apps" target="_top">测试<br /><span>魅力指数</span></a>
				</li>
			</ul> 		
		</div>		
		<div id="guanggao">
				泡妞学网,专为学员打造,客服QQ：1341548835；手机：15818131421,最新培训：深圳9月22，23号<a href="/courses">赶紧报名参加</a>
		</div>
	
		<%= yield %>
	</div>
	<hr />
	<div id="footer">
		<p>	
			Copyright(C)2007-2012 <a href="http://www.paoniuxue.com/" target="_top">泡妞学网</a>| 
			<a href="http://paoniuxue.taobao.com" target="_top" title="专业约会指导店铺">专业约会指导店铺</a>
			<a href="http://399906796.qzone.qq.com" title="泡妞学网QQ空间">泡妞学网QQ空间</a>
			<a href="http://xiaohualang.blog.hexun.com/" title="泡妞学网和讯站">泡妞学网和讯站</a>
			<a href="http://site.douban.com/119876/" title="专业搭讪约会培训的小站">专业搭讪约会培训的小站</a>
			<a href="http://blog.sina.com.cn/paoshop" title="专业泡妞培训_新浪博客">泡妞学网新浪站</a>
			<a href="http://paoxun.blog.sohu.com/" title="泡妞学网搜狐站">泡妞学网搜狐站</a>
			<a href="http://hi.baidu.com/paoniupx/home" title="泡妞学网百度站">泡妞学网百度站</a>
			<a href="http://xiaohualang.blog.hexun.com/" title="泡妞学网和讯站">泡妞学网和讯站</a>				
		</p>
		<p>
			版权所有 备案号：<a href="http://www.miibeian.gov.cn/" target="_top">粤ICP备08028333号</a><br />
		</p>
		<p>培训城市:深圳&nbsp;广州&nbsp;上海&nbsp;北京   全国统一服务QQ：1341548835</p>
		
	</div><!-- end of footer -->
	
	<% if Rails.env == "production" %>
		<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd23a7abb99279fee20249f938c04b70e' type='text/javascript'%3E%3C/script%3E"));
		</script>
	<% end %>

</body>
</html>
